openapi: 3.0.3
info:
  title: Airtable Web API (read-only bases, schema, and records subset)
  version: 1.0-readonly
  description: >-
    Read-only subset of Airtable's Web API for discovering accessible bases,
    reading a base's table schema, and reading table records. Airtable
    OAuth integrations use Authorization Code with PKCE (S256). When a client
    secret is configured, authenticate to the token endpoint using HTTP Basic.
    The requested scopes are data.records:read for records and schema.bases:read
    for base and table metadata. Record fields are user-defined and vary by
    table; the schema deliberately preserves them as arbitrary JSON values.
  contact:
    name: Airtable Developer Support
    url: https://airtable.com/developers/web/api
  x-origin:
    - format: html
      url: https://airtable.com/developers/web/api
  x-conversion:
    - >-
      Authored this Local Thought read-only subset from Airtable's official Web
      API HTML reference pages; Airtable does not publish an OpenAPI source
      description used for this file. The 1.0-readonly directory/version is the
      subset's version, not an Airtable vendor release. Sources:
      https://airtable.com/developers/web/api/list-bases,
      https://airtable.com/developers/web/api/get-base-schema,
      https://airtable.com/developers/web/api/list-records,
      https://airtable.com/developers/web/api/get-record,
      https://airtable.com/developers/web/api/oauth-reference,
      https://airtable.com/developers/web/api/authentication, and
      https://airtable.com/developers/web/api/scopes.
    - >-
      Included only base discovery, table-schema reads, record-list reads, and
      single-record reads. Operation scopes and OAuth endpoints follow Airtable's
      official authentication, OAuth, and scopes references; OAuth uses PKCE
      S256, and a configured client secret is sent with HTTP Basic at token
      exchange.
    - >-
      Record fields are user-defined JSON values and are represented with
      additionalProperties so field names and nested values are preserved.
servers:
  - url: https://api.airtable.com
paths:
  /v0/meta/bases:
    get:
      operationId: list-bases
      summary: List accessible bases
      description: >-
        Lists bases accessible to the authenticated user or integration.
        Returns up to 1000 bases per page. If the response includes offset, pass
        that opaque value unchanged as the offset query parameter to retrieve
        the next page. Requires the schema.bases:read scope.
      security:
        - oauth2: [schema.bases:read]
      parameters:
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Accessible bases.
          content:
            application/json:
              schema:
                type: object
                required: [bases]
                properties:
                  bases:
                    type: array
                    items: { $ref: '#/components/schemas/Base' }
                  offset: { type: string }
        '401': { description: The access token is missing or invalid. }
        '403': { description: The request is not allowed or lacks a required scope. }
  /v0/meta/bases/{baseId}/tables:
    get:
      operationId: get-base-schema
      summary: Get a base's table schema
      description: Returns the schema for all tables in the specified base.
      security:
        - oauth2: [schema.bases:read]
      parameters:
        - $ref: '#/components/parameters/BaseId'
      responses:
        '200':
          description: The table schema for the base.
          content:
            application/json:
              schema:
                type: object
                required: [tables]
                properties:
                  tables:
                    type: array
                    items: { $ref: '#/components/schemas/Table' }
        '401': { description: The access token is missing or invalid. }
        '403': { description: The request is not allowed or lacks a required scope. }
        '404': { description: The base does not exist or is not accessible. }
  /v0/{baseId}/{tableIdOrName}:
    get:
      operationId: list-records
      summary: List records in a table
      description: >-
        Lists records from a table. Responses contain at most 100 records by
        default. If more records remain, Airtable returns an opaque offset;
        pass that value unchanged as the offset query parameter to retrieve
        the next page. Record fields with empty values may be omitted.
      security:
        - oauth2: [data.records:read]
      parameters:
        - $ref: '#/components/parameters/BaseId'
        - $ref: '#/components/parameters/TableIdOrName'
        - $ref: '#/components/parameters/PageSize'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: A page of records and, when more results remain, an opaque pagination offset.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RecordPage' }
        '401': { description: The access token is missing or invalid. }
        '403': { description: The request is not allowed or lacks a required scope. }
        '404': { description: The base or table does not exist or is not accessible. }
  /v0/{baseId}/{tableIdOrName}/{recordId}:
    get:
      operationId: get-record
      summary: Get a record
      description: Returns one record identified by its Airtable record ID.
      security:
        - oauth2: [data.records:read]
      parameters:
        - $ref: '#/components/parameters/BaseId'
        - $ref: '#/components/parameters/TableIdOrName'
        - $ref: '#/components/parameters/RecordId'
      responses:
        '200':
          description: The requested record.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Record' }
        '401': { description: The access token is missing or invalid. }
        '403': { description: The request is not allowed or lacks a required scope. }
        '404': { description: 'The base, table, or record does not exist or is not accessible.' }
components:
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://airtable.com/oauth2/v1/authorize
          tokenUrl: https://airtable.com/oauth2/v1/token
          scopes:
            data.records:read: Read records from bases.
            schema.bases:read: Read base and table schema metadata.
  parameters:
    BaseId:
      name: baseId
      in: path
      required: true
      description: The Airtable base identifier.
      schema: { type: string }
    TableIdOrName:
      name: tableIdOrName
      in: path
      required: true
      description: The table identifier or table name.
      schema: { type: string }
    PageSize:
      name: pageSize
      in: query
      required: false
      description: Number of records per page, up to 100. Airtable defaults to 100.
      schema: { type: integer, minimum: 1, maximum: 100, default: 100 }
    Offset:
      name: offset
      in: query
      required: false
      description: Opaque pagination token returned by the preceding response; pass unchanged.
      schema: { type: string }
    RecordId:
      name: recordId
      in: path
      required: true
      description: The Airtable record identifier.
      schema: { type: string }
  schemas:
    Base:
      type: object
      required: [id, name, permissionLevel]
      properties:
        id: { type: string }
        name: { type: string }
        permissionLevel:
          type: string
          enum: [none, read, comment, edit, create, interfaceOnly]
      additionalProperties: true
    Table:
      type: object
      required: [id, name, primaryFieldId, fields, views]
      properties:
        id: { type: string }
        name: { type: string }
        primaryFieldId: { type: string }
        fields:
          type: array
          items: { $ref: '#/components/schemas/Field' }
        views:
          type: array
          items: { $ref: '#/components/schemas/View' }
      additionalProperties: true
    Field:
      type: object
      required: [id, name, type]
      properties:
        id: { type: string }
        name: { type: string }
        type: { type: string }
        description: { type: string }
        options:
          type: object
          additionalProperties: true
      additionalProperties: true
    View:
      type: object
      required: [id, name, type]
      properties:
        id: { type: string }
        name: { type: string }
        type: { type: string }
      additionalProperties: true
    RecordPage:
      type: object
      required: [records]
      properties:
        records:
          type: array
          items: { $ref: '#/components/schemas/Record' }
        offset: { type: string }
      additionalProperties: true
    Record:
      type: object
      required: [id, createdTime, fields]
      properties:
        id: { type: string }
        createdTime: { type: string, format: date-time }
        fields:
          type: object
          description: >-
            User-defined Airtable field values. Airtable omits fields with empty
            values; the field names and JSON value types depend on the table.
          additionalProperties: true
      additionalProperties: true
