openapi: 3.0.0
info:
  version: 0.0.1
  title: Snowflake Table API
  description: The Snowflake Table API is a REST API that you can use to access, update, and perform certain actions on Tables resource in a Snowflake database.
  contact:
    name: Snowflake, Inc.
    url: https://snowflake.com
    email: support@snowflake.com
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/snowflakedb/snowflake-rest-api-specs/990e25d97236a11826c9eed40e587c2b859e5680/specifications/table.yaml
      version: '3.0'
  x-conversion:
    - Fetched from https://raw.githubusercontent.com/snowflakedb/snowflake-rest-api-specs/990e25d97236a11826c9eed40e587c2b859e5680/specifications/table.yaml at commit 990e25d97236a11826c9eed40e587c2b859e5680; entry source SHA-256 dfeb7bc3dc3ae9f023d1ffedfb423acd11ce7fe3b74dc79fd4eb4ddb160cd3cb.
    - Bundled 2 pinned repository files with @redocly/cli 2.57.0, using bundle and an empty configuration; distinct components with conflicting basenames are renamed, not merged; 0 warnings. Source-file snapshot SHA-256 bef7f216bc08a628ffaf339d427ecc0062fec846d6b22f9e70fd447de967c353.
    - Serialized as YAML with PyYAML 6.0.3; no OpenAPI version conversion.
servers:
  - description: Snowflake REST Server
    url: https://org-account.snowflakecomputing.com
security:
  - KeyPair: []
  - ExternalOAuth: []
  - SnowflakeOAuth: []
  - ProgrammaticAccessToken: []
paths:
  /api/v2/databases/{database}/schemas/{schema}/tables:
    get:
      summary: List tables
      tags:
        - table
      description: Lists the tables under the database and schema.
      operationId: listTables
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/like'
        - $ref: '#/components/parameters/startsWith'
        - $ref: '#/components/parameters/showLimit'
        - $ref: '#/components/parameters/fromName'
        - name: history
          description: Optionally includes dropped tables that have not yet been purged.
          in: query
          required: false
          schema:
            type: boolean
        - name: deep
          description: Optionally includes dependency information of the table.
          in: query
          required: false
          schema:
            type: boolean
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Table'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
    post:
      summary: Create a table (clone and undrop are separate subresources)
      tags:
        - table
      description: Create a table.
      operationId: createTable
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Table'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:as_select:
    post:
      deprecated: true
      summary: Create a table using the result of the specified select query
      tags:
        - table
      description: Create a table as select.
      operationId: createTableAsSelectDeprecated
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: query
          in: query
          required: true
          description: The SQL select query to run to set up the table values (and possibly columns).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Table'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables:as-select:
    post:
      summary: Create a table using the result of the specified select query
      tags:
        - table
      description: Create a table as select.
      operationId: createTableAsSelect
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: query
          in: query
          required: true
          description: The SQL select query to run to set up the table values (and possibly columns).
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableAsSelect'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:using_template:
    post:
      deprecated: true
      summary: Create a table using the templates specified in staged files
      tags:
        - table
      description: Create a table using template.
      operationId: createTableUsingTemplateDeprecated
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: query
          description: The SQL query that uses INFER_SCHEMA on staged files to set the column definitions for the new table.
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables:using-template:
    post:
      summary: Create a table using the templates specified in staged files
      tags:
        - table
      description: Create a table using template.
      operationId: createTableUsingTemplate
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: query
          description: The SQL query that uses INFER_SCHEMA on staged files to set the column definitions for the new table.
          in: query
          required: true
          schema:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableUsingTemplate'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:
    get:
      summary: Fetch a table.
      tags:
        - table
      description: Fetch a Table using the describe command output.
      operationId: fetchTable
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Table'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
    put:
      summary: Create a (or alter an existing) table.
      tags:
        - table
      description: Create a (or alter an existing) table. Even if the operation is just an alter, the full property set must be provided.
      operationId: createOrAlterTable
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Table'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
    delete:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Delete a table
      tags:
        - table
      description: Delete a table with the given name.
      operationId: deleteTable
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:clone:
    post:
      summary: Clone table
      tags:
        - table
      description: Create a new table by cloning from the specified resource
      operationId: cloneTable
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: targetDatabase
          in: query
          description: Database of the newly created table. Defaults to the source table's database.
          schema:
            $ref: '#/components/schemas/Identifier'
        - name: targetSchema
          in: query
          description: Schema of the newly created table. Defaults to the source table's schema.
          schema:
            $ref: '#/components/schemas/Identifier'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableClone'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:create_like:
    post:
      deprecated: true
      summary: Create a table like this existing one
      tags:
        - table
      description: Create a new table like the specified resource, but empty
      operationId: createTableLikeDeprecated
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
        - name: newTableName
          description: The name of the table to be created.
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:create-like:
    post:
      summary: Create a table like this existing one
      tags:
        - table
      description: Create a new table like the specified resource, but empty
      operationId: createTableLike
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/createMode'
        - $ref: '#/components/parameters/copyGrants'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TableLike'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:undrop:
    post:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
      summary: Undrop a table
      tags:
        - table
      description: Undrop specified table
      operationId: undropTable
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:suspend_recluster:
    post:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Suspend recluster of a table
      tags:
        - table
      description: Suspend recluster of a table
      operationId: suspendReclusterTableDeprecated
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:suspend-recluster:
    post:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Suspend recluster of a table
      tags:
        - table
      description: Suspend recluster of a table
      operationId: suspendReclusterTable
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:resume_recluster:
    post:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Resume recluster of a table
      tags:
        - table
      description: Resume recluster of a table
      operationId: resumeReclusterTableDeprecated
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:resume-recluster:
    post:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Resume recluster of a table
      tags:
        - table
      description: Resume recluster of a table
      operationId: resumeReclusterTable
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:swapwith:
    post:
      deprecated: true
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
        - name: targetTableName
          description: The fully-specified name of the target table to be swapped with.
          in: query
          required: true
          schema:
            type: string
      summary: Swap with another table
      tags:
        - table
      description: Swap with another table
      operationId: swapWithTableDeprecated
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:swap-with:
    post:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
        - name: targetName
          description: The name of the target table to be swapped with.
          in: query
          required: true
          schema:
            $ref: '#/components/schemas/Identifier'
        - name: targetDatabase
          in: query
          description: Database of the target table. Defaults to the source table's database.
          schema:
            $ref: '#/components/schemas/Identifier'
        - name: targetSchema
          in: query
          description: Schema of the target table. Defaults to the source table's schema.
          schema:
            $ref: '#/components/schemas/Identifier'
      summary: Swap with another table
      tags:
        - table
      description: Swap with another table
      operationId: swapWithTable
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:set-tags:
    post:
      summary: Set tags on a table.
      tags:
        - table
      description: Set tags on a table.
      operationId: setTags
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagAssignment'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:unset-tags:
    post:
      summary: Unset tags from a table.
      tags:
        - table
      description: Unset tags from a table.
      operationId: unsetTags
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TagReference'
  /api/v2/databases/{database}/schemas/{schema}/tables/{name}:get-tags:
    get:
      summary: Get the tag assignments for a table.
      tags:
        - table
      description: Returns all tags assigned to a table. This operation requires an active warehouse.
      operationId: getTags
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/withLineage'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TagAssignment'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '410':
          $ref: '#/components/responses/410Gone'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
components:
  schemas:
    Table:
      type: object
      description: A Snowflake table
      properties:
        name:
          type: string
          description: Specifies the name for the table, must be unique for the schema in which the table is created
        kind:
          type: string
          enum:
            - PERMANENT
            - TRANSIENT
            - TEMPORARY
            - ''
            - transient
            - temporary
          x-enum-varnames:
            - PERMANENT
            - TRANSIENT
            - TEMPORARY
            - DEPRECATED_PERMANENT
            - DEPRECATED_TRANSIENT
            - DEPRECATED_TEMPORARY
          default: PERMANENT
          description: Table type - permanent, transient, or temporary
        cluster_by:
          type: array
          description: Specifies one or more columns or column expressions in the table as the clustering key
          items:
            type: string
        cluster_by_raw:
          type: string
          nullable: true
          readOnly: true
          description: Raw clustering key string from the DDL statement.
        enable_schema_evolution:
          type: boolean
          description: Table has schema evolution enabled or disabled
        change_tracking:
          type: boolean
          description: Change tracking is enabled or disabled
        data_retention_time_in_days:
          type: integer
          description: Specifies the retention period for the table so that Time Travel actions SELECT, CLONE, UNDROP can be performed on historical data in the table
        max_data_extension_time_in_days:
          type: integer
          description: Specifies the retention period for the table so that Time Travel actions SELECT, CLONE, UNDROP can be performed on historical data in the table
        default_ddl_collation:
          type: string
          description: Specifies a default collation specification for the columns in the table, including columns added to the table in the future
        data_metric_schedule:
          $ref: '#/components/schemas/DataMetricSchedule'
        columns:
          type: array
          items:
            $ref: '#/components/schemas/TableColumn'
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/Constraint'
        comment:
          type: string
          description: Comment for the table
        row_timestamp:
          type: boolean
          nullable: true
          description: Whether ROW_TIMESTAMP is enabled on this table.
        error_logging:
          type: boolean
          nullable: true
          description: Whether ERROR_LOGGING is enabled on this table.
        created_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the table was created.
        database_name:
          type: string
          readOnly: true
          description: Database in which the table is stored
        schema_name:
          type: string
          readOnly: true
          description: Schema in which the table is stored
        rows:
          type: integer
          format: int64
          readOnly: true
          description: Number of rows in the table. Returns NULL for external tables.
        bytes:
          type: integer
          format: int64
          readOnly: true
          description: Number of bytes that will be scanned if the entire table is scanned in a query. Note that this number may be different than the number of actual physical bytes stored on-disk for the table
        owner:
          type: string
          readOnly: true
          description: Role that owns the table
        dropped_on:
          type: string
          format: date-time
          readOnly: true
          description: Date and time when the table was dropped
        automatic_clustering:
          type: boolean
          readOnly: true
          description: If Automatic Clustering is enabled for your account, specifies whether it is explicitly enabled or disabled for the table.
        search_optimization:
          type: boolean
          readOnly: true
          description: If ON, the table has the search optimization service enabled
        search_optimization_progress:
          type: integer
          format: int64
          readOnly: true
          description: Percentage of the table that has been optimized for search.
        search_optimization_bytes:
          type: integer
          format: int64
          readOnly: true
          description: Number of additional bytes of storage that the search optimization service consumes for this table
        search_optimization_configuration:
          type: array
          readOnly: true
          description: Per-expression search optimization configuration. Configuration is not settable through this API (POST/PUT); use ALTER TABLE ... ADD/DROP SEARCH OPTIMIZATION.
          items:
            $ref: '#/components/schemas/SearchOptimizationExpression'
        owner_role_type:
          type: string
          readOnly: true
          description: The type of role that owns the object.
        budget:
          type: string
          readOnly: true
          description: Name of the budget if the object is monitored by a budget
        table_type:
          type: string
          enum:
            - NORMAL
            - DYNAMIC
            - EXTERNAL
            - EVENT
            - HYBRID
            - ICEBERG
            - IMMUTABLE
          readOnly: true
          description: Type of the table
      required:
        - name
    TableColumn:
      type: object
      description: A column in the table
      properties:
        name:
          type: string
          description: Column name
        datatype:
          type: string
          description: The data type for the column
        nullable:
          type: boolean
          default: true
          description: Specifies that the column does allow NULL values or not.
        collate:
          type: string
          description: Specifies the collation to use for column operations such as string comparison
        default:
          type: string
          description: Specifies whether a default value is automatically inserted in the column if a value is not explicitly specified via an INSERT or CREATE TABLE AS SELECT statement
        autoincrement:
          type: boolean
        autoincrement_start:
          type: integer
          description: The default value for the column starts with the specified number
        autoincrement_increment:
          type: integer
          description: Each successive value for the column automatically increments by the specified amount
        autoincrement_order:
          type: string
          nullable: true
          description: Identity sequence ordering keyword. "ORDER" guarantees monotonically increasing values across concurrent sessions; "NOORDER" allows session-local allocation for higher concurrency.
        constraints:
          type: array
          items:
            $ref: '#/components/schemas/Constraint'
        comment:
          type: string
          description: Specifies a comment for the column
      required:
        - name
        - datatype
    Constraint:
      type: object
      description: Constraints define integrity and consistency rules for data stored in tables.
      properties:
        name:
          type: string
          description: Name of the Constraint
        column_names:
          type: array
          items:
            type: string
            description: Column name for the constraint
        constraint_type:
          type: string
          description: Type of the constraint
        deferrability:
          type: string
          nullable: true
          readOnly: true
          description: Constraint deferrability.
        enforced:
          type: boolean
          nullable: true
          readOnly: true
          description: Whether the constraint is enforced.
        enable:
          type: boolean
          nullable: true
          readOnly: true
          description: Always null.
        validate:
          type: boolean
          nullable: true
          readOnly: true
          description: Whether existing data is validated against the constraint.
        rely:
          type: boolean
          nullable: true
          description: Whether the optimizer can rely on the constraint.
        comment:
          type: string
          nullable: true
          description: Comment associated with the constraint. Used only on out-of-line (table-level) constraints; ignored on inline (column-level) constraints.
      discriminator:
        propertyName: constraint_type
        mapping:
          PRIMARY KEY: PrimaryKey
          FOREIGN KEY: ForeignKey
          UNIQUE: UniqueKey
          CHECK: CheckConstraint
    PrimaryKey:
      allOf:
        - $ref: '#/components/schemas/Constraint'
      type: object
      description: A primary key is the column or columns that contain values that uniquely identify each row in a table.
    UniqueKey:
      allOf:
        - $ref: '#/components/schemas/Constraint'
      type: object
      description: Unique keys are columns in a table that uniquely identify items in the rows. This sounds a lot like a primary key, but the main difference is that unique keys can have NULL values.
    ForeignKey:
      allOf:
        - $ref: '#/components/schemas/Constraint'
      type: object
      description: Foreign keys link data in one table to the data in another table.
      properties:
        referenced_table_name:
          type: string
        referenced_column_names:
          type: array
          items:
            type: string
        match:
          type: string
          nullable: true
          readOnly: true
          description: Match type for the foreign key.
        on_delete:
          type: string
          nullable: true
          readOnly: true
          description: Action taken on delete of the referenced row.
        on_update:
          type: string
          nullable: true
          readOnly: true
          description: Action taken on update of the referenced row.
      required:
        - referenced_table_name
        - referenced_column_names
    SearchOptimizationExpression:
      type: object
      description: A single configured search optimization expression. Read-only; configure with ALTER TABLE ... ADD/DROP SEARCH OPTIMIZATION.
      properties:
        expression_id:
          type: integer
          format: int64
          description: Stable identifier assigned by Snowflake to this configuration. Matches the id shown by DESCRIBE SEARCH OPTIMIZATION and usable with ALTER TABLE ... DROP SEARCH OPTIMIZATION ON <expression_id>.
        method:
          type: string
          enum:
            - EQUALITY
            - SUBSTRING
            - FULL_TEXT
            - GEO
          description: User-facing search method for this expression.
        target:
          type: string
          description: SQL target of this expression (e.g. "EQUALITY(col)", "SUBSTRING(col)", including any nested VARIANT path).
      required:
        - expression_id
        - method
        - target
    CheckConstraint:
      allOf:
        - $ref: '#/components/schemas/Constraint'
      type: object
      description: CHECK constraint (informational; not enforced by Snowflake).
      properties:
        check_expression:
          type: string
      required:
        - check_expression
    TableClone:
      type: object
      description: Clone table
      allOf:
        - $ref: '#/components/schemas/Table'
      properties:
        point_of_time:
          $ref: '#/components/schemas/PointOfTime'
    TableAsSelect:
      type: object
      description: Create table as select
      properties:
        name:
          type: string
          description: Specifies the name for the table, must be unique for the schema in which the table is created
        columns:
          type: array
          items:
            $ref: '#/components/schemas/TableColumn'
        cluster_by:
          type: array
          description: Specifies one or more columns or column expressions in the table as the clustering key
          items:
            type: string
    TableUsingTemplate:
      type: object
      description: Create table using template
      properties:
        name:
          type: string
          description: Specifies the name for the table, must be unique for the schema in which the table is created
    TableLike:
      type: object
      description: Create table like an existing table
      properties:
        name:
          type: string
          description: Specifies the name for the table, must be unique for the schema in which the table is created
    Identifier:
      type: string
      description: A Snowflake object identifier. If the identifier contains spaces or special characters, the entire string must be enclosed in double quotes. Identifiers enclosed in double quotes are also case-sensitive.
      pattern: ^"([^"]|"")+"|[a-zA-Z_][a-zA-Z0-9_$]*$|^[$][0-9]+$
      example: TEST_NAME
    DataMetricSchedule:
      type: object
      description: Schedule on which data metric functions associated with an entity run. Polymorphic; the concrete subtype is selected by schedule_type.
      properties:
        schedule_type:
          type: string
          description: Discriminator. One of MINUTES, CRON, TRIGGER_ON_CHANGES.
      required:
        - schedule_type
      discriminator:
        propertyName: schedule_type
        mapping:
          MINUTES: DataMetricMinutesSchedule
          CRON: DataMetricCronSchedule
          TRIGGER_ON_CHANGES: DataMetricTriggerOnChangesSchedule
    SuccessAcceptedResponse:
      type: object
      description: Schema for a request in progress response returned by the server.
      properties:
        code:
          type: string
          description: Message code returned by the server.
        message:
          type: string
          description: Message returned by the server
        resultHandler:
          type: string
          description: Opaque result ID used for checking for request completion through one or more subsequent completion check operations.
        job_id:
          type: string
          description: ID of the job/query backing the in-progress request. This is the result handler without the trailing result-type indicator appended to it.
      example:
        code: '392604'
        message: Request execution in progress. Use the provided location header or result handler ID to perform query monitoring and management.
        job_id: 01afef9d-0607-0550-0001-dd270c3902d7
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message returned by the server
        code:
          type: string
          description: Error code.
        error_code:
          type: string
          description: Error code, same as `code` above. This property has been deprecated and will be removed in a future release, but is temporarily supported for for short-term backward compatibility.
        request_id:
          type: string
          description: Unique request ID.
      example:
        message: Compilation error!
        error_code: '390189'
        request_id: 01afef9d-0607-0550-0001-dd270c3902d7
    SuccessResponse:
      type: object
      description: Schema for all the success responses returned by the server.
      properties:
        status:
          type: string
          description: Message returned by the server.
      example:
        status: Request successfully completed
    PointOfTime:
      type: object
      description: Point of time.
      required:
        - point_of_time_type
      properties:
        point_of_time_type:
          description: 'Type of the point of time. Possible values include:

            - `timestamp`: Exact time using the standard timezone format. Example: `TO_TIMESTAMP(1749423600)`. - `offset`: Interval relative to ''now.'' in the form -N where N can be an integer or arithmetic expression. Example: `-120` - `statement`: ID of a query statement to use as the reference point for <a href=https://docs.snowflake.com/en/sql-reference/sql/create-clone#time-travel-parameters>Time Travel</a>.

            For more information, see https://docs.snowflake.com/en/sql-reference/data-types-datetime.'
          type: string
          example: timestamp
        reference:
          type: string
          description: Relation to the point of time. Currently, the API supports `at` and `before`.
          example: at
      discriminator:
        propertyName: point_of_time_type
        mapping:
          timestamp: PointOfTimeTimestamp
          offset: PointOfTimeOffset
          statement: PointOfTimeStatement
    TagReference:
      type: object
      description: Identifier for a tag, including optional database and schema names.
      properties:
        tag_database:
          description: The database in which the tag is defined.
          allOf:
            - $ref: '#/components/schemas/Identifier'
        tag_schema:
          description: The schema in which the tag is defined.
          allOf:
            - $ref: '#/components/schemas/Identifier'
        tag_name:
          description: The name of the tag.
          allOf:
            - $ref: '#/components/schemas/Identifier'
      required:
        - tag_name
    TagAssignment:
      description: Defines an association between a tag and value.
      allOf:
        - $ref: '#/components/schemas/TagReference'
      properties:
        tag_value:
          type: string
          description: The value of the tag.
        level:
          type: string
          readOnly: true
          description: The object domain on which the tag is set.
      required:
        - tag_value
  securitySchemes:
    KeyPair:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Set `X-Snowflake-Authorization-Token-Type` to `KEYPAIR_JWT` if the token is a key-pair authentication JWT.
    ExternalOAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Configure External Oauth with Snowflake (see <a href=https://docs.snowflake.com/en/user-guide/oauth-ext-overview>External OAuth overview</a>.) Set `X-Snowflake-Authorization-Token-Type` to `OAUTH` and set the Token to the auth token received from the external Auth server.
    SnowflakeOAuth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: /oauth/authorize
          scopes: {}
      description: Set `X-Snowflake-Authorization-Token-Type` to `OAUTH` if the token is snowflakeOAuth
    ProgrammaticAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Set `X-Snowflake-Authorization-Token-Type` to `PROGRAMMATIC_ACCESS_TOKEN` if the token is a programmatic access token.
  parameters:
    database:
      name: database
      description: Identifier (i.e. name) for the database to which the resource belongs. You can use the `/api/v2/databases` GET request to get a list of available databases.
      required: true
      in: path
      schema:
        example: TEST_DB
        $ref: '#/components/schemas/Identifier'
    schema:
      name: schema
      description: Identifier (i.e. name) for the schema to which the resource belongs. You can use the `/api/v2/databases/{database}/schemas` GET request to get a list of available schemas for the specified database.
      required: true
      in: path
      schema:
        example: TEST_SCHEMA
        $ref: '#/components/schemas/Identifier'
    like:
      name: like
      description: Parameter to filter the command output by resource name. Uses case-insensitive pattern matching, with support for SQL wildcard characters.
      in: query
      schema:
        type: string
        example: test_%
    startsWith:
      name: startsWith
      description: Parameter to filter the command output based on the string of characters that appear at the beginning of the object name. Uses case-sensitive pattern matching.
      in: query
      schema:
        type: string
        example: test
    showLimit:
      name: showLimit
      description: Parameter to limit the maximum number of rows returned by a command.
      in: query
      schema:
        type: integer
        example: 10
        minimum: 1
        maximum: 10000
    fromName:
      name: fromName
      description: Parameter to enable fetching rows only following the first row whose object name matches the specified string. Case-sensitive and does not have to be the full name.
      in: query
      schema:
        type: string
        example: from_test
    createMode:
      name: createMode
      description: 'Parameter allowing support for different modes of resource creation. Possible values include:

        - `errorIfExists`: Throws an error if you try to create a resource that already exists.

        - `orReplace`: Automatically replaces the existing resource with the current one.

        - `ifNotExists`: Creates a new resource when an alter is requested for a non-existent resource.'
      in: query
      schema:
        type: string
        enum:
          - errorIfExists
          - orReplace
          - ifNotExists
        example: ifNotExists
        default: errorIfExists
    copyGrants:
      name: copyGrants
      description: Parameter to enable copy grants when creating the object.
      in: query
      schema:
        type: boolean
        example: false
        default: false
    name:
      name: name
      description: Identifier (i.e. name) for the resource.
      required: true
      in: path
      schema:
        example: TEST_NAME
        $ref: '#/components/schemas/Identifier'
    ifExists:
      name: ifExists
      description: 'Parameter that specifies how to handle the request for a resource that does not exist:

        - `true`: The endpoint does not throw an error if the resource does not exist. It returns a 200 success response, but does not take any action on the resource.

        - `false`: The endpoint throws an error if the resource doesn''t exist.'
      in: query
      schema:
        type: boolean
        example: true
        default: false
    withLineage:
      name: withLineage
      description: 'Parameter that specifies whether tag assignments inherited by the object from its ancestors in securable object hierarchy should be returned as well:

        - `true`: All tags assigned to this object should be returned, inheritance included.

        - `false`: Only tags explicitly assigned to this object should be returned.'
      in: query
      schema:
        type: boolean
        example: true
        default: false
  headers:
    X-Snowflake-Request-ID:
      description: Unique ID of the API request.
      schema:
        type: string
        format: uuid
    Link:
      description: Links to the page of results (e.g. the first page, the last page, etc.). The header can include multiple 'url' entries with different 'rel' attribute values that specify the page to return ('first', 'next', 'prev', and 'last').
      schema:
        type: string
        example: </api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=0>; rel="first",</api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=1>; rel="next",</api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=9>; rel="last"
  responses:
    202SuccessAcceptedResponse:
      headers:
        Location:
          schema:
            type: string
            description: Relative path for checking request status or getting the result, if available.
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      description: Successfully accepted the request, but it is not completed yet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessAcceptedResponse'
    400BadRequest:
      description: Bad Request. The request payload is invalid or malformed. This happens if the application didn't send the correct request payload. The response body may include the error code and message indicating the actual cause. The application must reconstruct the request body for retry.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    401Unauthorized:
      description: Unauthorized. The request is not authorized. This happens if the attached access token is invalid or missing. The response body may include the error code and message indicating the actual cause, e.g., expired, invalid token. The application must obtain a new access token for retry.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: Forbidden. The request is forbidden. This can also happen if the request is made even if the API is not enabled.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    404NotFound:
      description: Not Found. The request endpoint is not valid. This happens if the API endpoint does not exist, or if the API is not enabled.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    405MethodNotAllowed:
      description: Method Not Allowed. The request method doesn't match the supported API. This happens, for example, if the application calls the API with GET method but the endpoint accepts only POST.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    408RequestTimeout:
      description: Request Timeout. This indicates that the request from the client timed out and was not completed by the server.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    409Conflict:
      description: Conflict. The requested operation could not be performed due to a conflicting state that could not be resolved. This usually happens when a CREATE request was performed when there is a pre-existing resource with the same name, and also without one of the options orReplace/ifNotExists.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    410Gone:
      description: Gone. This error is primarily intended to assist the task of web maintenance by notifying the recipient that the resource is intentionally unavailable.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429LimitExceeded:
      description: Limit Exceeded. The number of requests hit the rate limit. The application must slow down the frequency of hitting the API endpoints.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: Internal Server Error. The server hit an unrecoverable system error. The response body may include the error code and message for further guidance. The application owner may need to reach out the customer support.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    503ServiceUnavailable:
      description: Service Unavailable. The request was not processed due to server side timeouts. The application may retry with backoff. The jittered backoff is recommended.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    504GatewayTimeout:
      description: Gateway Timeout. The request was not processed due to server side timeouts. The application may retry with backoff. The jittered backoff is recommended.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    200SuccessResponse:
      description: Successful request.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessResponse'
