openapi: 3.0.0
info:
  title: Accounts
  description: The Zoom Account APIs allow developers to programatically access data related to accounts, dashboards, information barriers, and roles.
  termsOfService: https://zoom.us/docs/en-us/zoom_api_license_and_tou.html
  contact:
    name: Zoom Developers
    url: https://developer.zoom.us/
  version: '2'
  x-origin:
    - format: openapi
      url: https://developers.zoom.us/api-hub/accounts/methods/endpoints.json
      version: '3.0'
  x-conversion:
    - Fetched from https://developers.zoom.us/api-hub/accounts/methods/endpoints.json on 2026-10-04T11:39:58.873157+00:00; entry source SHA-256 868e9e60f64152024a77ae56b718319d069c0cbdc8943fba1e0510ea1039254f.
    - Validated with openapi-spec-validator 0.9.0 with openapi-schema-validator 0.9.0, the Python jsonschema backend, regress 2026.9.1 ECMAScript regex syntax/matching with no flags, and cycle-safe property collection, plus security requirement name resolution across operations, callbacks and webhooks; no schema constraints removed.
    - Parsed the vendor document and serialized it as YAML with PyYAML 6.0.3; no API content patches or OpenAPI version conversion.
externalDocs:
  description: Find out more about Swagger
  url: https://swagger.io
servers:
  - url: https://api.zoom.us/v2
paths:
  /accounts/{accountId}/lock_settings:
    get:
      tags:
        - Accounts
      summary: Get locked settings
      description: "Retrieves an account's locked settings. \n\n Account admins and account owners can use [Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) to toggle settings on or off for all users in their account. \n\n\n**Note:** You can use Account Locked Settings with accounts that have master and sub accounts enabled.   \n   \n \n**Prerequisites:**\n* Pro or a higher paid account.   \n \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `account:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `account:read:lock_settings:master`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: getAccountLockSettings
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
        - name: option
          in: query
          description: "Optional query parameters: \n* `meeting_security` &mdash; Use this query parameter to view the meeting security settings applied to the user's account."
          required: false
          schema:
            type: string
            example: meeting_security
        - name: custom_query_fields
          in: query
          description: "Provide the name of the field by which you would like to filter the response. For example, if you provide &quot;host_video&quot; as the value of this field, you will get a response similar to the following:  \n \n{\n    &quot;schedule_meeting&quot;: {\n        &quot;host_video&quot;: false\n    }\n}\n  \n You can provide multiple values by separating them with commas(example: &quot;host_video,participant_video&rdquo;)."
          required: false
          schema:
            type: string
            example: in_meeting
      responses:
        '200':
          description: "**Error Code:** `200`  \n \nOnly available for paid account:$accountId.\n\n**HTTP Status Code:** `200`  \n \nLocked settings for the Account returned.\n\n"
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      audio_conferencing:
                        type: object
                        properties:
                          toll_free_and_fee_based_toll_call:
                            type: boolean
                            description: Whether the account has the [**Toll-free and Fee-based Toll Call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.
                            example: true
                          toll_call:
                            type: boolean
                            description: Whether the account has the [**Toll Call**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0066909#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.
                            example: true
                          call_me_and_invite_by_phone:
                            type: boolean
                            description: Whether the account has the [**Call Me and Invite by Phone**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067414#h_01F53VFZMDP4EJAF772N7NG2KY) setting enabled.
                            example: true
                          personal_audio_conference:
                            type: boolean
                            description: Whether the account has the [**Personal Audio Conference**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0060449#h_01F5BPMEB7GK6XXPKHDBHYFF27) setting enabled.
                            example: true
                          participant_phone_masking:
                            type: boolean
                            description: Whether the account has the [**Mask phone number in the participant list**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067881#h_01F5K5GT9P563K751K3JNAYE6E) setting enabled.
                            example: true
                        description: Account Audio Conference Settings
                      chat:
                        type: object
                        properties:
                          share_files:
                            type: boolean
                            description: Users can share files in chats and channels.
                            example: true
                          chat_emojis:
                            type: boolean
                            description: Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or using only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in Settings.
                            example: true
                          record_voice_messages:
                            type: boolean
                            description: Allow users to record voice messages that can be sent in direct messages or group conversations.
                            example: true
                          record_video_messages:
                            type: boolean
                            description: Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.
                            example: true
                          screen_capture:
                            type: boolean
                            description: Allow users to take and send screenshots in direct messages or group conversations.
                            example: true
                          share_links_in_chat:
                            type: boolean
                            description: Share links to messages and channels in Team Chat.
                            example: true
                          schedule_meetings_in_chat:
                            type: boolean
                            description: Schedule a meeting from chat or channel.
                            example: true
                          set_retention_period_in_cloud:
                            type: boolean
                            description: By default, messages and files are stored in Zoom's cloud. Enable this setting to specify when they are deleted. When retention is disabled, messages sent by offline users can be received within 7 days before they are deleted.
                            example: true
                          set_retention_period_in_local:
                            type: boolean
                            description: Specify how long your messages are saved on local devices. If this setting is disabled, messages are never deleted locally.
                            example: true
                          allow_users_to_add_contacts:
                            type: boolean
                            description: Whether to allow users to add contacts.
                            example: true
                          allow_users_to_chat_with_others:
                            type: boolean
                            description: Whether to Allow users to chat with others.
                            example: true
                          chat_etiquette_tool:
                            type: boolean
                            description: Whether to enable the **Chat Etiquette Tool**.
                            example: true
                          send_data_to_third_party_archiving_service:
                            type: boolean
                            description: Whether to send data to third-party archiving service.
                            example: true
                          translate_messages:
                            type: boolean
                            description: Allow users to translate team chat messages. [Learn more].(https://support.zoom.us/hc/en-us/articles/12998089084685)
                            example: true
                          search_and_send_animated_gif_images:
                            type: boolean
                            description: Whether to allow users to search GIF images from GIPHY when they compose messages.
                            example: true
                          shared_spaces:
                            type: boolean
                            description: Whether to allow users to create Shared Spaces.
                            example: true
                          allow_create_channels_and_group_chats:
                            type: boolean
                            description: Whether to allow users to create channels and group chats.
                            example: true
                          allow_huddles_from_channels:
                            type: boolean
                            description: Whether to allow huddles from channels.
                            example: true
                          download_file:
                            type: boolean
                            description: Whether to allow users to downloading files.
                            example: true
                          share_screen_in_chat:
                            type: boolean
                            description: Whether to allow users to share screen in chat.
                            example: true
                          chat_email_address:
                            type: boolean
                            description: Chat email address.
                            example: true
                          read_receipts:
                            type: boolean
                            description: Whether to enable read receipts.
                            example: true
                          allow_delete_message:
                            type: boolean
                            description: Whether to allow users to delete messages.
                            example: true
                          allow_edit_message:
                            type: boolean
                            description: Whether to allow users to edit messages.
                            example: true
                          presence_on_meeting:
                            type: boolean
                            description: Change my presence status when I am in a meeting or call.
                            example: true
                          presence_away_when_screen_saver:
                            type: boolean
                            description: Change my status to away when screen saver begins.
                            example: true
                          ai_summary:
                            type: boolean
                            description: 'The field has been moved from the `chat` object to the `ai` object and renamed to `chat_summary` to better reflect its functionality.


                              Summarize with AI Companion.'
                            example: true
                            deprecated: true
                          ai_compose:
                            type: boolean
                            description: 'The field has been moved from the `chat` object to the `ai` object and renamed to `chat_compose` to better reflect its functionality.


                              Compose with AI Companion.'
                            example: true
                            deprecated: true
                          ai_recommend:
                            type: boolean
                            description: '**Zoom no longer supports this feature.**


                              Chat Recommendation with Zoom AI Companion.'
                            example: true
                            deprecated: true
                          ai_reply:
                            type: boolean
                            description: '**Zoom no longer supports this feature.**


                              Quick reply with AI Companion.'
                            example: true
                            deprecated: true
                          ai_sentence_completion:
                            type: boolean
                            description: '**Zoom no longer supports this feature.**


                              Sentence completion with AI Companion.'
                            example: true
                            deprecated: true
                          ai_quick_schedule:
                            type: boolean
                            description: Quick schedule with AI Companion.
                            example: true
                          survey_poll:
                            type: boolean
                            description: Allow users to launch a poll in chats and channels.
                            example: true
                      email_notification:
                        type: object
                        properties:
                          alternative_host_reminder:
                            type: boolean
                            description: Notify the alternative host who is set or removed.
                            example: true
                          cancel_meeting_reminder:
                            type: boolean
                            description: Notify host and participants when the meeting is cancelled.
                            example: true
                          cloud_recording_available_reminder:
                            type: boolean
                            description: Whether to notify the host when a cloud recording is available.
                            example: true
                          jbh_reminder:
                            type: boolean
                            description: Notify host when participants join the meeting before them.
                            example: true
                          schedule_for_reminder:
                            type: boolean
                            description: Notify the host there is a meeting is scheduled, rescheduled, or cancelled.
                            example: true
                      in_meeting:
                        type: object
                        properties:
                          alert_guest_join:
                            type: boolean
                            description: Allow participants who belong to your account to see that a guest (someone who does not belong to your account) is participating in the meeting or webinar.
                            example: true
                          allow_users_to_delete_messages_in_meeting_chat:
                            type: boolean
                            description: 'If the value of this field is set to `true`,  allow users to delete messages in the in-meeting chat.

                              '
                            example: true
                          allow_live_streaming:
                            type: boolean
                            description: Whether to allow livestreaming.
                            example: true
                          allow_show_zoom_windows:
                            type: boolean
                            description: Show Zoom windows during screen share.
                            example: true
                          annotation:
                            type: boolean
                            description: Allow participants to use annotation tools to add information to shared screens.
                            example: true
                          anonymous_question_answer:
                            type: boolean
                            example: true
                          attendee_on_hold:
                            type: boolean
                            description: 'Allow host to put attendee on hold.


                              **This field has been deprecated and is no longer supported.**'
                            example: true
                            deprecated: true
                            default: false
                          attention_mode_focus_mode:
                            type: boolean
                            description: "Whether to enable the [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) feature. When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting. \n\n This value defaults to `false`."
                            example: true
                            default: false
                          auto_answer:
                            type: boolean
                            description: Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.
                            example: true
                          auto_generated_captions:
                            type: boolean
                            description: Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).
                            example: true
                          auto_saving_chat:
                            type: boolean
                            description: Automatically save all in-meeting chats.
                            example: true
                          breakout_room:
                            type: boolean
                            description: Allow host to split meeting participants into separate, smaller rooms.
                            example: true
                          chat:
                            type: boolean
                            description: Allow meeting participants to send chat message visible to all participants.
                            example: true
                          meeting_question_answer:
                            type: boolean
                            description: Allow participants to ask questions for the host and participants to answer.
                            example: true
                          closed_caption:
                            type: boolean
                            description: Allow host to type closed captions or assign a participant/third party device to add closed captions.
                            example: true
                          co_host:
                            type: boolean
                            description: Allow the host to add co-hosts. Co-hosts have the same in-meeting controls as the host.
                            example: true
                          custom_data_center_regions:
                            type: boolean
                            description: Displays whether or not custom [data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) have been selected for meetings/webinars hosted by the account.
                            example: true
                          disable_screen_sharing_for_host_meetings:
                            type: boolean
                            description: Whether to enable the **Disable desktop screen sharing for meetings you host** setting.
                            example: true
                          disable_screen_sharing_for_in_meeting_guests:
                            type: boolean
                            description: Whether to enable the **Disable screen sharing when guests are in the meeting** setting.
                            example: true
                          dscp_marking:
                            type: boolean
                            description: 'Enable DSCP marking for signaling and media packets. (Default is 56 for audio, 40 for video, and 40 for signaling.) '
                            example: true
                          e2e_encryption:
                            type: boolean
                            description: Require that all meetings are encrypted using AES.
                            example: true
                          entry_exit_chime:
                            type: string
                            description: Play sound when participants join or leave.
                            example: none
                          far_end_camera_control:
                            type: boolean
                            description: Allow another user to take control of the camera during a meeting.
                            example: true
                          feedback:
                            type: boolean
                            description: Enable users to provide feedback to Zoom at the end of the meeting.
                            example: true
                          file_transfer:
                            type: boolean
                            description: Indicates whether [in-meeting file transfer](https://support.zoom.us/hc/en-us/articles/209605493-In-meeting-file-transfer) setting has been enabled for all users on the account or not.
                            example: true
                          full_transcript:
                            type: boolean
                            description: Whether full transcripts are available for viewing in the in-meeting side panel.
                            example: true
                          group_hd:
                            type: boolean
                            description: Enable higher quality video for host and participants in Meeting. This will require more bandwidth.
                            example: true
                          webinar_group_hd:
                            type: boolean
                            description: Enable higher quality video for host and participants in Webinar. This will require more bandwidth.
                            example: true
                          language_interpretation:
                            type: boolean
                            description: Whether hosts can assign participants as interpreters to interpret one language into another in real-time.
                            example: true
                          sign_language_interpretation:
                            type: boolean
                            description: Allow hosts to assign participants as sign language interpreters who can interpret one language into sign language in real-time. Hosts can assign interpreters when scheduling, or during the meeting itself. This feature is only available with version 5.11.3 or later.
                            example: true
                          manual_captions:
                            type: boolean
                            description: Whether to enable manual closed captioning. When [enabled](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription), the host or assigned participant can provide manual captioning or a [3rd-party device](https://support.zoom.us/hc/en-us/articles/115002212983) can be assigned to provide captioning.
                            example: true
                          meeting_reactions:
                            type: boolean
                            description: Whether meeting participants can [communicate using the emoji reactions](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions) located in the **Reactions** menu in the meeting toolbar.
                            example: true
                          webinar_reactions:
                            type: boolean
                            description: Set this field to true to use [webinar reactions](https://support.zoom.us/hc/en-us/articles/4803536268429).
                            example: true
                          meeting_survey:
                            type: boolean
                            description: Whether the host can present a survey to participants once a meeting has ended. This feature is only available in version 5.7.3 or higher.
                            example: true
                          original_audio:
                            type: boolean
                            description: Allow users to select original sound during a meeting.
                            example: true
                          polling:
                            type: boolean
                            description: Add 'Polls' to the meeting controls. This allows the host to survey the attendees.
                            example: true
                          post_meeting_feedback:
                            type: boolean
                            description: Display end-of-meeting experience feedback survey.
                            example: true
                          private_chat:
                            type: boolean
                            description: Allow meeting participants to send a private 1:1 message to another participant.
                            example: true
                          remote_control:
                            type: boolean
                            description: During screen sharing, allow the person who is sharing to let others control the shared content.
                            example: true
                          non_verbal_feedback:
                            type: boolean
                            description: Whether to enable the [**Non-verbal feedback**](https://support.zoom.us/hc/en-us/articles/115001286183-Nonverbal-feedback-and-meeting-reactions-) setting.  This value defaults to `false`.
                            example: true
                            default: false
                          remote_support:
                            type: boolean
                            description: Whether to enable the [**Remote support**](https://support.zoom.us/hc/en-us/articles/360060951012-Enabling-remote-support) setting. This value defaults to `false`.
                            example: true
                            default: false
                          request_permission_to_unmute_participants:
                            type: boolean
                            description: Whether to enable the [**Request permission to unmute participants**](https://support.zoom.us/hc/en-us/articles/203435537-Muting-and-unmuting-participants-in-a-meeting) setting.
                            example: true
                          save_caption:
                            type: boolean
                            description: Whether participants can save closed captions or transcripts.
                            example: true
                          save_captions:
                            type: boolean
                            description: "Whether participants can [save closed caption or transcripts](https://support.zoom.us/hc/en-us/articles/360060958752). \n\n **Note:** If the `full_transcript` field is set to `false`, participants **cannot** save captions."
                            example: true
                          screen_sharing:
                            type: boolean
                            description: Allow host and participants to share their screen or content during meetings.
                            example: true
                          sending_default_email_invites:
                            type: boolean
                            description: Allow users to invite participants by email only by default.
                            example: true
                          show_meeting_control_toolbar:
                            type: boolean
                            description: Always show meeting controls during a meeting.
                            example: true
                          slide_control:
                            type: boolean
                            description: Whether the person sharing during a presentation can allow others to control the slide presentation. This feature is only available in version 5.8.3 or higher.
                            example: true
                          stereo_audio:
                            type: boolean
                            description: Allow users to select stereo audio during a meeting.
                            example: true
                          use_html_format_email:
                            type: boolean
                            description: Allow  HTML formatting instead of plain text for meeting invitations scheduled with the Outlook plugin.
                            example: true
                          virtual_background:
                            type: boolean
                            description: Enable virtual background.
                            example: true
                          webinar_chat:
                            type: boolean
                            description: Whether to allow webinar participants to send chat messages.
                            example: true
                          webinar_live_streaming:
                            type: boolean
                            description: Whether to enable webinar livestreaming.
                            example: true
                          webinar_polling:
                            type: boolean
                            description: Whether the host can add polls before or during a webinar.
                            example: true
                          webinar_question_answer:
                            type: boolean
                            description: Whether attendees can ask the host and panelists questions in the webinar.
                            example: true
                          webinar_survey:
                            type: boolean
                            description: Whether the host can present surveys to attendees once a webinar has ended.
                            example: true
                          whiteboard:
                            type: boolean
                            description: Allow participants to share a whiteboard that includes annotation tools.
                            example: true
                          meeting_summary_with_ai_companion:
                            type: object
                            properties:
                              locked:
                                type: boolean
                                description: Whether to lock the setting that allows hosts to generate a summary.
                                example: true
                              auto_enable_locked:
                                type: boolean
                                description: Whether to lock the setting that automatically turns on meeting summary when meetings start.
                                example: true
                              who_will_receive_summary_locked:
                                type: boolean
                                description: Whether to lock the setting that defines who will receive a summary after the meeting.
                                example: true
                              summary_template_locked:
                                type: boolean
                                description: Whether to lock the setting that allows users to select a meeting summary template for their meetings.
                                example: true
                            description: Whether a host can generate a meeting summary with AI Companion. Summaries are sent after the meeting ends based on the share options.
                          ai_companion_questions:
                            type: object
                            properties:
                              locked:
                                type: boolean
                                description: Whether to lock the setting that allows hosts and invited participants to ask questions to AI Companion during a meeting.
                                example: true
                              auto_enable_locked:
                                type: boolean
                                description: Whether to lock the setting that automatically allows access when the meeting starts.
                                example: true
                              who_can_ask_questions_locked:
                                type: boolean
                                description: Whether to lock the setting that defines who can ask questions about the meeting's transcript.
                                example: true
                            description: Whether to allow hosts and invited participants to ask questions to AI Companion during a meeting. Questions are answered based on the conversation transcript.
                      other_options:
                        type: object
                        properties:
                          blur_snapshot:
                            type: boolean
                            description: If true, iOS blurs the screenshot in the task switcher when multiple apps are open. Android hides the screenshot in the system-level list of recent apps.
                            example: true
                          webinar_registration_options:
                            type: boolean
                            description: Webinar registration options.
                            example: true
                      recording:
                        type: object
                        properties:
                          account_user_access_recording:
                            type: boolean
                            description: Make cloud recordings accessible to account members only.
                            example: true
                          auto_delete_cmr:
                            type: boolean
                            description: Allow Zoom to automatically delete recordings permanently after a specified number of days.
                            example: true
                          auto_recording:
                            type: boolean
                            description: Record meetings automatically as they start.
                            example: true
                          cloud_recording:
                            type: boolean
                            description: Allow hosts to record and save the meeting / webinar in the cloud.
                            example: true
                          cloud_recording_download:
                            type: boolean
                            description: Allow anyone with a link to the cloud recording to download.
                            example: true
                          host_delete_cloud_recording:
                            type: boolean
                            description: Allow the host to delete the recordings. If this option is disabled, the recordings cannot be deleted by the host and only admin can delete them.
                            example: true
                          ip_address_access_control:
                            type: boolean
                            description: 'Setting to allow cloud recording access only from specific IP address ranges.

                              '
                            example: true
                          local_recording:
                            type: boolean
                            description: Allow hosts and participants to record the meeting to a local file.
                            example: true
                          prevent_host_access_recording:
                            type: boolean
                            description: 'If set to `true`, meeting hosts cannot view their meeting cloud recordings. Only the admins who have recording management privilege can access them.


                              '
                            example: true
                          recording_authentication:
                            type: boolean
                            description: Only authenticated users can view cloud recordings
                            example: true
                          archive:
                            type: boolean
                            description: '[Archiving solution](https://support.zoom.us/hc/en-us/articles/360050431572-Archiving-Meeting-and-Webinar-data) settings. This setting can only be used if you have been granted archiving solution access by the Zoom support team.'
                            example: true
                      schedule_meeting:
                        type: object
                        properties:
                          audio_type:
                            type: boolean
                            description: Determine how participants can join the audio portion of the meeting.
                            example: true
                          embed_password_in_join_link:
                            type: boolean
                            description: "If the value is set to `true`, the meeting passcode will be encrypted and included in the join meeting link to allow participants to join with just one click without having to enter the passcode.\n "
                            example: true
                          enforce_login:
                            type: boolean
                            description: 'Allow only signed-in users to join meetings.

                              '
                            example: true
                          enforce_login_domains:
                            type: string
                            description: 'Specify the domains from which users can join a meeting.

                              '
                            example: example.com
                          enforce_login_with_domains:
                            type: boolean
                            description: 'Allow only signed-in users with specified domains to join meetings.

                              '
                            example: true
                          host_video:
                            type: boolean
                            description: Start meetings with host video on.
                            example: true
                          join_before_host:
                            type: boolean
                            description: Allow participants to join the meeting before the host arrives
                            example: true
                          meeting_authentication:
                            type: boolean
                            description: Only authenticated users can join meetings
                            example: true
                          not_store_meeting_topic:
                            type: boolean
                            description: Whether to enable the [**Always display &quot;Zoom Meeting&quot; as the meeting topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.
                            example: true
                          always_display_zoom_webinar_as_topic:
                            type: boolean
                            description: Whether to enable the [**Always show &quot;Zoom Webinar&quot; as the webinar topic**](https://support.zoom.us/hc/en-us/articles/201363253-Changing-account-settings#h_01EG9BJ646V2WJK1S3H2MP6YV6) setting.
                            example: false
                          participant_video:
                            type: boolean
                            description: Start meetings with participant video on.
                            example: true
                          require_password_for_instant_meetings:
                            type: boolean
                            description: Require passcode for instant meetings. If you use a PMI for your instant meetings, this option will be disabled. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.
                            example: true
                          require_password_for_pmi_meetings:
                            type: boolean
                            description: Require participants to enter passcode for PMI meetings. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.
                            example: true
                          require_password_for_scheduling_new_meetings:
                            type: boolean
                            description: This setting applies for regular meetings that do not use a PMI. If enabled, a passcode will be generated while a host schedules a new meeting and participants will be required to enter the passcode before they can join the meeting. This setting is always enabled for free accounts and Pro accounts with a single host and cannot be modified for these accounts.
                            example: true
                          use_pmi_for_instant_meetings:
                            type: boolean
                            description: Use a Personal Meeting ID (PMI) when starting an instant meeting.
                            example: true
                          use_pmi_for_scheduled_meetings:
                            type: boolean
                            description: Use a Personal Meeting ID (PMI) when scheduling a meeting.
                            example: true
                          continuous_meeting_chat:
                            type: boolean
                            description: Whether to enable the [**Enable continuous meeting chat**] setting.
                            example: true
                      telephony:
                        type: object
                        properties:
                          telephony_regions:
                            type: boolean
                            description: Indicates where most of the participants call into or call from during a meeting.
                            example: true
                          third_party_audio:
                            type: boolean
                            description: Allow users to join the meeting using the existing 3rd party audio configuration.
                            example: true
                        description: 'Account Settings: Telephony.'
                      tsp:
                        type: object
                        properties:
                          call_out:
                            type: boolean
                            description: Call Out
                            example: true
                          show_international_numbers_link:
                            type: boolean
                            description: Show international numbers link on the invitation email
                            example: true
                          display_toll_free_numbers:
                            type: boolean
                            description: Display toll-free numbers
                            example: true
                        description: 'Account Settings: TSP.'
                      ai:
                        type: object
                        properties:
                          screen_share_ocr:
                            type: boolean
                            description: Whether the screen_share_ocr setting is locked.
                            example: true
                          meeting_chat_messages:
                            type: boolean
                            description: Whether the meeting_chat_messages setting is locked.
                            example: true
                          full_display_names_in_ai_assets:
                            type: boolean
                            description: Whether the full_display_names_in_ai_assets setting is locked.
                            example: true
                          ai_generated_virtual_backgrounds:
                            type: boolean
                            description: Whether the ai_generated_virtual_backgrounds setting is locked.
                            example: true
                          meeting_agenda:
                            type: boolean
                            description: Whether the meeting_agenda setting is locked.
                            example: true
                          meeting_summary_docs:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether automatic Zoom Doc creation is locked.
                                example: true
                              share_with_summary_recipients:
                                type: boolean
                                description: Whether sharing generated Zoom Docs with meeting summary recipients is locked.
                                example: false
                            description: Lock settings for meeting summary Docs.
                          phone_user_ai_notices:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether phone user AI notices are locked.
                                example: true
                            description: Lock settings for phone user AI notices.
                          meeting_summary_retention:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether automatic meeting summary deletion is locked.
                                example: true
                            description: Lock settings for meeting summary retention.
                          meeting_coach:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether Meeting Coach with AI is locked.
                                example: true
                            description: Lock settings for Meeting Coach with AI.
                          third_party_meeting_join:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether third-party meeting join with AI is locked.
                                example: true
                              allow_recording:
                                type: boolean
                                description: Whether recording for joined third-party meetings is locked.
                                example: true
                              calendar:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Whether calendar-based third-party meeting join is locked.
                                    example: true
                                description: Lock settings for calendar-based third-party meeting join.
                              pre_meeting_email_notification:
                                type: object
                                properties:
                                  enable:
                                    type: boolean
                                    description: Whether pre-meeting email notification is locked.
                                    example: true
                                description: Lock settings for pre-meeting email notification.
                            description: Lock settings for third-party meeting join with AI.
                          whiteboard_content_generation:
                            type: boolean
                            description: Whether Whiteboard content generation with AI is enabled.
                            example: true
                          smart_recording:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether the Smart Recording is locked.
                                example: true
                            description: Lock settings for Smart Recording.
                          clips_summarization_generation:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether the clips summarization generation is locked.
                                example: true
                            description: Lock settings for clips summarization generation.
                          clips_create_video_with_aic:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether the clips create video with aic is locked.
                                example: true
                            description: Lock settings for clips create video with aic.
                          allow_user_create_customize_avatar:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether the clips allow user create customize avatar is locked.
                                example: true
                            description: Lock settings for clips allow user create customize avatar.
                          task_creation_and_management:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether task creation and management with AI is locked.
                                example: true
                            description: Lock settings for task creation and management with AI.
                          show_conversational_ai_companion:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether conversational AI is locked.
                                example: true
                              enable_zoom_mate:
                                type: boolean
                                description: Whether ZoomMate availability is locked.
                                example: true
                              delete_ai_conversation:
                                type: boolean
                                description: Whether automatic AI conversation deletion is locked.
                                example: true
                              delete_ai_conversation_time:
                                type: boolean
                                description: Whether the AI conversation retention period is locked.
                                example: true
                            description: Lock settings for the conversational AI companion.
                          ai_panel_in_workplace:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether the AI panel in Zoom Workplace is locked.
                                example: true
                              delete_ai_conversation:
                                type: boolean
                                description: Whether automatic AI conversation deletion in the AI panel is locked.
                                example: true
                              delete_ai_conversation_time:
                                type: boolean
                                description: Whether the AI panel conversation retention period is locked.
                                example: true
                            description: Lock settings for the AI panel in Zoom Workplace.
                          enable_ai_on_web:
                            type: boolean
                            description: Whether Zoom AI on the web is locked.
                            example: true
                          enable_email_compose_with_ai:
                            type: boolean
                            description: Whether Zoom Mail AI compose is locked.
                            example: true
                          microsoft_365:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether Microsoft 365 data sources are locked.
                                example: true
                            description: Lock settings for Microsoft 365 data sources.
                          google:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether Google data sources are locked.
                                example: true
                            description: Lock settings for Google data sources.
                          web_content:
                            type: boolean
                            description: Whether Web content as an AI data source is locked.
                            example: true
                          local_file_uploads:
                            type: boolean
                            description: Whether Local file uploads as an AI data source are locked.
                            example: true
                          organization_custom_dictionaries:
                            type: boolean
                            description: Whether allowing AI to consume the organization's custom dictionaries is locked.
                            example: true
                          third_party_app_tasks:
                            type: boolean
                            description: Whether allowing AI to perform tasks in third-party apps is locked.
                            example: true
                          workspace_reservation_recommendations_with_ai:
                            type: object
                            properties:
                              enabled:
                                type: boolean
                                description: Whether Workspace Reservation recommendations with AI are locked.
                                example: true
                            description: Lock settings for Workspace Reservation recommendations with AI.
                          participant_can_request_aic_in_meeting:
                            type: boolean
                            description: Participants can request the host to start in-meeting AI features. The Boolean indicates whether this setting is locked.
                            example: false
                          restrict_aic_when_external_user_join_meeting:
                            type: boolean
                            description: Automatically restrict Zoom AI and transcription features when external users or groups join a meeting. The Boolean indicates whether this setting is locked.
                            example: false
                          restrict_aic_when_restrict_user_join:
                            type: boolean
                            description: When members of this group join a meeting, Zoom AI features will not be permitted for that session. This will only impact meetings within this organization. The Boolean indicates whether this setting is locked.
                            example: false
                          restrict_users_from_joining_ai_enabled_meetings:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether users are restricted from joining meetings in which AI meeting processing (meeting questions and summary) is allowed. The Boolean indicates whether this setting is locked.
                                example: false
                            description: Users would be restricted from joining meetings in which AI meeting processing (meeting questions and summary) is allowed. The nested Boolean properties indicate whether the corresponding setting is locked.
                          meeting_questions:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to allow hosts and invited participants to ask questions to AI Companion during a meeting. The Boolean indicates whether this setting is locked.
                                example: false
                              auto_enable:
                                type: boolean
                                description: Whether to automatically allow access when the meeting starts. The Boolean indicates whether this setting is locked.
                                example: false
                              who_can_ask_questions:
                                type: boolean
                                description: Defines who can ask questions about this meeting's transcript. The corresponding setting values are `from_entire_meeting` (all participants and invitees), `from_join_meeting` (all participants only from when they join), `host` (only the meeting host), `org` (participants and invitees in the organization), and `org_from_join_meeting` (participants in the organization only from when they join). The Boolean indicates whether this setting is locked.
                                example: false
                            description: Zoom AI answers the meeting questions based on what is said in the meeting. If a transcript is retained, participants with access will be able to ask questions after the meeting based on that transcript. The nested Boolean properties indicate whether the corresponding setting is locked.
                          meeting_summary:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether to allow hosts to generate a summary. The Boolean indicates whether this setting is locked.
                                example: false
                              auto_enable:
                                type: boolean
                                description: Whether to turn on meeting summary automatically when meetings start. The Boolean indicates whether this setting is locked.
                                example: false
                              who_will_receive_summary:
                                type: boolean
                                description: Automatically share summary with. The corresponding setting values are `host` (only meeting host), `alt_host` (only meeting host, co-hosts, and alternative hosts), `organization` (only meeting host and meeting invitees in our organization), and `all` (all meeting invitees including those outside of our organization). The Boolean indicates whether this setting is locked.
                                example: false
                            description: Allow hosts to generate a summary. Summaries are sent based on sharing permissions after the meeting has ended. The nested Boolean properties indicate whether the corresponding setting is locked.
                          meeting_summary_template:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether users can select a meeting summary template for their meetings. After the meeting, the summary will be generated into the new template. The Boolean indicates whether this setting is locked.
                                example: false
                            description: Allow users to select a meeting summary template for their meetings. After the meeting, the summary will be generated into the new template. The nested Boolean properties indicate whether the corresponding setting is locked.
                          meeting_summary_default_language:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: When this feature is enabled, all meeting summaries will automatically use the language you choose. The Boolean indicates whether this setting is locked.
                                example: false
                            description: When this feature is enabled, all meeting summaries will automatically use the language you choose. The nested Boolean properties indicate whether the corresponding setting is locked.
                          meeting_summary_ip_access:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether meeting summary access is restricted to specific IP address ranges. The Boolean indicates whether this setting is locked.
                                example: false
                            description: Allow meeting summary access only from specific IP address ranges. The nested Boolean properties indicate whether the corresponding setting is locked.
                          remind_me_turn_on_aic:
                            type: boolean
                            description: If you don't set AI features to auto-start in your meetings, you will be reminded to turn on AI at the beginning of each meeting you host. The Boolean indicates whether this setting is locked.
                            example: false
                          remind_me_turn_on_catch_me_up:
                            type: boolean
                            description: When you join a meeting late, you'll get a prompt for AI to summarize what's been discussed so far. The Boolean indicates whether this setting is locked.
                            example: false
                          meeting_summary_email_only_mode:
                            type: boolean
                            description: When this setting is enabled, summaries will only be shared to users by email. Users will not be able to view or edit summaries on the Zoom client or web portal, as the meeting summary will not be retained. The Boolean indicates whether this setting is locked.
                            example: false
                          restrict_users_from_deleting_ai_companion_assets:
                            type: boolean
                            description: When enabled, users cannot delete AI assets. Only admins can delete them. The Boolean indicates whether this setting is locked.
                            example: false
                          restrict_users_from_editing_ai_companion_assets:
                            type: boolean
                            description: When enabled, users cannot edit AI assets. Only admins can edit them. The Boolean indicates whether this setting is locked.
                            example: false
                          webinar_summary_follow_up_email:
                            type: boolean
                            description: Whether webinar summaries are included in webinar follow-up email. Deprecated. Use `include_webinar_summary_follow_up_email`. The Boolean indicates whether this setting is locked.
                            example: true
                            deprecated: true
                          webinar_summary_ocr:
                            type: boolean
                            description: Whether using screen share content with OCR for webinar summaries is locked.
                            example: false
                          zoom_events_chat_panel:
                            type: boolean
                            description: Whether the AI chat panel in Zoom Events is locked.
                            example: false
                          zoom_events_session_summary:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether Zoom Events session summaries are locked.
                                example: false
                              auto_start:
                                type: boolean
                                description: Whether automatically turning on session summary when sessions start is locked.
                                example: false
                            description: Lock settings for Zoom Events session summary.
                          chat_summary:
                            type: boolean
                            description: Summarize with AI Companion.
                            example: true
                          chat_compose:
                            type: boolean
                            description: Compose with AI Companion.
                            example: true
                          hub_ai_question_and_file_creation:
                            type: boolean
                            description: Whether the Hub AI search and file creation setting is locked.
                            example: true
                          canvas_ai_content_generation:
                            type: boolean
                            description: Whether the Canvas AI content generation and revision setting is locked.
                            example: true
                          canvas_ai_sentence_completion:
                            type: boolean
                            description: Whether the Canvas AI sentence completion setting is locked.
                            example: true
                          canvas_ai_post_meeting_writing_tasks:
                            type: boolean
                            description: Whether the Canvas post-meeting writing task setting is locked.
                            example: true
                          paper_ai_content_generation:
                            type: boolean
                            description: Whether the Zoom Paper AI content generation and revision setting is locked.
                            example: true
                          sheets_ai_content_generation:
                            type: boolean
                            description: Whether the Zoom Sheets AI content generation and revision setting is locked.
                            example: true
                          sheets_ai_formula:
                            type: boolean
                            description: Whether the Zoom Sheets AI Formula setting is locked.
                            example: true
                          sheets_ai_function:
                            type: boolean
                            description: Whether the Zoom Sheets AI Function setting is locked.
                            example: true
                          sheets_ai_resources:
                            type: boolean
                            description: Whether the Zoom Sheets AI Resources setting is locked.
                            example: true
                          slides_ai_content_generation:
                            type: boolean
                            description: Whether the Zoom Slides AI content generation and revision setting is locked.
                            example: true
                          my_notes_meeting_transcription:
                            type: boolean
                            description: Whether the My Notes meeting transcription setting is locked.
                            example: true
                          my_notes_ai_content_generation:
                            type: boolean
                            description: Whether the My Notes AI content generation setting is locked.
                            example: true
                          include_webinar_summary_follow_up_email:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether including the webinar summary in follow-up email is locked.
                                example: false
                            description: Lock settings for including the webinar summary in follow-up email.
                          webinar_summary:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether allowing hosts to generate a summary is locked.
                                example: false
                              auto_enable:
                                type: boolean
                                description: Whether automatically turning on webinar summary when the webinar starts is locked.
                                example: false
                              email_notification:
                                type: boolean
                                description: Whether sending an email notification when sharing to participants is locked.
                                example: false
                              restrict_share_to_outside_of_organization:
                                type: boolean
                                description: Whether restricting users from sharing summaries to those outside of the organization is locked.
                                example: false
                              who_will_receive_summary:
                                type: boolean
                                description: Who will automatically receive the summary. The supported values are `host` (only webinar host), `host_and_panelist_in_organization` (only webinar host, co-hosts, and panelists in the organization), and `host_and_panelist_not_in_organization` (webinar host, co-hosts, and all panelists, including those outside the organization). The Boolean indicates whether this setting is locked.
                                example: false
                            description: Allow hosts to generate a summary. Summaries are sent after the webinar ends based on sharing permissions. The nested Boolean properties indicate whether the corresponding settings are locked.
                          webinar_questions:
                            type: object
                            properties:
                              enable:
                                type: boolean
                                description: Whether allowing users to ask webinar questions with AI is locked.
                                example: false
                              auto_enable:
                                type: boolean
                                description: Whether automatically allowing access when the webinar starts is locked.
                                example: false
                              who_can_ask_questions:
                                type: boolean
                                description: Who can ask questions about the webinar. The supported values are `panelist_all` (hosts and all panelists), `panelist_org` (hosts and all panelists in the organization), `host` (only webinar host, co-hosts, and alternative hosts), and `all_participants` (all participants). The Boolean indicates whether this setting is locked.
                                example: false
                            description: During the webinar, answers are based on speech-to-text data. If a transcript is retained, participants with access can ask questions after the webinar based on that transcript. The nested Boolean properties indicate whether the corresponding settings are locked.
                        description: Lock settings for Workspace Reservation recommendations with AI.
                  - title: Meeting or Webinar Security Account Locked Settings
                    type: object
                    properties:
                      meeting_security:
                        type: object
                        properties:
                          approved_or_denied_countries_or_regions:
                            type: boolean
                            description: Whether to enable the [**Approve or block entry for users from specific countries/regions**](https://support.zoom.us/hc/en-us/articles/360060086231-Joining-from-specific-countries-regions) setting.
                            example: true
                          auto_security:
                            type: boolean
                            description: "Whether all meetings must be secured with at least one security option. \n\n This setting can only be disabled by Enterprise, ISV, Business (with more than 100 licenses), and Education accounts."
                            example: true
                          block_user_domain:
                            type: boolean
                            description: Whether users in specific domains are blocked from joining meetings and webinars.
                            example: true
                          chat_etiquette_tool:
                            type: boolean
                            description: Whether to enable the **Chat Etiquette Tool**.
                            example: true
                          embed_password_in_join_link:
                            type: boolean
                            description: Whether the meeting passcode is encrypted and included in the invitation link. The provided link will allow participants to join the meeting without having to enter the passcode.
                            example: true
                          encryption_type:
                            type: boolean
                            description: Whether use encryption to start a meeting.
                            example: true
                          end_to_end_encrypted_meetings:
                            type: boolean
                            description: Whether to enable end-to-end encryption for meetings.
                            example: true
                          meeting_password:
                            type: boolean
                            description: Whether all instant and scheduled meetings that users can join via client or Zoom Rooms systems are passcode-protected. [Personal Meeting ID (PMI)](https://support.zoom.us/hc/en-us/articles/203276937) meetings are **not** included in this setting.
                            example: true
                          only_authenticated_can_join_from_webclient:
                            type: boolean
                            description: Whether to specify that only authenticated users can join the meeting from the web client.
                            example: true
                          phone_password:
                            type: boolean
                            description: "Whether passcodes are required for participants joining by phone. \n\n If enabled and the meeting is passcode-protected, a numeric passcode is required for participants to join by phone. For meetings with alphanumeric passcodes, a numeric passcode will be generated."
                            example: true
                          pmi_password:
                            type: boolean
                            description: Whether all Personal Meeting ID (PMI) meetings that users can join via client or Zoom Rooms systems are passcode-protected.
                            example: true
                          waiting_room:
                            type: boolean
                            description: "Whether participants are placed in the [**Waiting Room**](https://support.zoom.us/hc/en-us/articles/115000332726-Waiting-Room) when they join a meeting. \n\n If the **Waiting Room** feature is enabled, the [**Allow participants to join before host**](https://support.zoom.us/hc/en-us/articles/202828525-Allow-participants-to-join-before-host) setting is automatically disabled."
                            example: true
                          webinar_password:
                            type: boolean
                            description: Whether to generate a passcode when scheduling webinars. Participants must use the generated passcode to join the scheduled webinar.
                            example: true
                    description: The account's locked meeting and webinar security settings.
        '400':
          description: "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2001` <br>\n Account does not exist: $subAccountId. <br>\n"
        '429':
          description: "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rest/rate-limits/). \n\n "
      security:
        - openapi_oauth:
            - account:read:admin
            - account:read:lock_settings:master
          openapi_authorization: []
      x-extensions:
        x-permissions:
          - AccountSetting:Read
        x-macro-scopes:
          - account:read:admin
        x-granular-scopes:
          - account:read:lock_settings:master
    patch:
      tags:
        - Accounts
      summary: Update locked settings
      description: "Updates an account's locked settings.\n\n[Account Locked Settings](https://support.zoom.us/hc/en-us/articles/115005269866) allows account admins and account owners to toggle settings on or off for all users in your account.  \n\n**Note:** Yout must have a Pro or a higher plan and enabled master and sub accounts options.  \n   \n \n**Prerequisites:**  \n \n* Pro or a higher paid account.   \n \n\n\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `account:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `account:update:lock_settings:master`,`account:update:lock_settings:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`"
      operationId: UpdateLockedSettings
      parameters:
        - name: accountId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - type: object
                  properties:
                    audio_conferencing:
                      type: object
                      properties:
                        toll_free_and_fee_based_toll_call:
                          type: boolean
                          description: Whether the account has the [**toll-free and fee-based toll call**](https://support.zoom.us/hc/en-us/articles/360060950711-Enabling-Toll-free-and-Fee-based-Toll-Call#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.
                          example: true
                        toll_call:
                          type: boolean
                          description: Whether the account has the [**Toll Call**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0066909#h_01F51680NJ7YHZDXGJNSKDGM2P) setting enabled.
                          example: true
                        call_me_and_invite_by_phone:
                          type: boolean
                          description: Whether the account has the [**Call Me and Invite by Phone**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067414#h_01F53VFZMDP4EJAF772N7NG2KY) setting enabled.
                          example: true
                        personal_audio_conference:
                          type: boolean
                          description: Whether the account has the [**Personal Audio Conference**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0060449#h_01F5BPMEB7GK6XXPKHDBHYFF27) setting enabled.
                          example: true
                        participant_phone_masking:
                          type: boolean
                          description: Whether the account has the [**Mask phone number in the participant list**](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0067881#h_01F5K5GT9P563K751K3JNAYE6E) setting enabled.
                          example: true
                    chat:
                      type: object
                      properties:
                        share_files:
                          type: boolean
                          description: Users can share files in chats and channels.
                          example: true
                        chat_emojis:
                          type: boolean
                          description: Allow users to use the emoji library in direct messages or group conversations. Choose between allowing users to use any emoji in the library, or allowing only pre-selected emojis. If the setting is disabled, users can still use keyboard shortcuts to add emojis. Users can change their emoji skin tone in **Settings**.
                          example: true
                        record_voice_messages:
                          type: boolean
                          description: Allow users to record voice messages that can be sent in direct messages or group conversations.
                          example: true
                        record_video_messages:
                          type: boolean
                          description: Allow users to record video messages that can be sent in direct messages or group conversations. If the file share setting is disabled, they will not be able to record and send video messages.
                          example: true
                        screen_capture:
                          type: boolean
                          description: Allow users to take and send screenshots in direct messages or group conversations.
                          example: true
                        share_links_in_chat:
                          type: boolean
                          description: Share links to messages and channels in Team Chat.
                          example: true
                        schedule_meetings_in_chat:
                          type: boolean
                          description: Schedule a meeting from chat or channel.
                          example: true
                        set_retention_period_in_cloud:
                          type: boolean
                          description: By default, messages and files are stored in Zoom's cloud. Enable this setting to specify when they are deleted. When retention is disabled, messages sent by offline users can be received within 7 days before they are deleted.
                          example: true
                        set_retention_period_in_local:
                          type: boolean
                          description: Specify how long your messages are saved on local devices. If this setting is disabled, messages are never deleted locally.
                          example: true
                        allow_users_to_add_contacts:
                          type: boolean
                          description: Whether to allow users to add contacts.
                          example: true
                        allow_users_to_chat_with_others:
                          type: boolean
                          description: Whether to allow users to chat with others.
                          example: true
                        chat_etiquette_tool:
                          type: boolean
                          description: Whether to enable the **Chat Etiquette Tool**.
                          example: true
                        send_data_to_third_party_archiving_service:
                          type: boolean
                          description: Whether to send data to third-party archiving service.
                          example: true
                        translate_messages:
                          type: boolean
                          description: Allow users to translate team chat messages. [Learn more].(https://support.zoom.us/hc/en-us/articles/12998089084685)
                          example: true
                        search_and_send_animated_gif_images:
                          type: boolean
                          description: Whether to allow users to search GIF images from GIPHY when they compose messages.
                          example: true
                        shared_spaces:
                          type: boolean
                          description: Whether to allow users to create Shared Spaces.
                          example: true
                        allow_create_channels_and_group_chats:
                          type: boolean
                          description: Whether to allow users to create channels and group chats.
                          example: true
                        allow_huddles_from_channels:
                          type: boolean
                          description: Whether to allow huddles from channels.
                          example: true
                        download_file:
                          type: boolean
                          description: Whether to allow users to download files.
                          example: true
                        share_screen_in_chat:
                          type: boolean
                          description: Whether to allow users to share screen in chat.
                          example: true
                        chat_email_address:
                          type: boolean
                          description: Chat email address.
                          example: true
                        read_receipts:
                          type: boolean
                          description: Whether to enable read receipts.
                          example: true
                        allow_delete_message:
                          type: boolean
                          description: Whether to allow users to delete messages.
                          example: true
                        allow_edit_message:
                          type: boolean
                          description: Whether to allow users to edit messages.
                          example: true
                        presence_on_meeting:
                          type: boolean
                          description: Change my presence status when I am in a meeting or call.
                          example: true
                        presence_away_when_screen_saver:
                          type: boolean
                          description: Change my status to away when screen saver begins.
                          example: true
                        ai_summary:
                          type: boolean
                          description: 'The field has been moved from the `chat` object to the `ai` object and renamed to `chat_summary` to better reflect its functionality.

                            Summarize with AI Companion.'
                          example: true
                          deprecated: true
                        ai_compose:
                          type: boolean
                          description: 'The field has been moved from the `chat` object to the `ai` object and renamed to `chat_compose` to better reflect its functionality.

                            Compose with AI Companion.'
                          example: true
                          deprecated: true
                        ai_recommend:
                          type: boolean
                          description: '**Zoom no longer supports this feature.**

                            Chat Recommendation with Zoom AI Companion.'
                          example: true
                          deprecated: true
                        ai_reply:
                          type: boolean
                          description: '**Zoom no longer supports this feature.**

                            Quick reply with AI Companion.'
                          example: true
                          deprecated: true
                        ai_sentence_completion:
                          type: boolean
                          description: '**Zoom no longer supports this feature.**

                            Sentence completion with AI Companion.'
                          example: true
                          deprecated: true
                        ai_quick_schedule:
                          type: boolean
                          description: '**Zoom no longer supports this feature.**

                            Quick schedule with AI Companion.'
                          example: true
                          deprecated: true
                        survey_poll:
                          type: boolean
                          description: Allow users to launch a poll in chats and channels.
                          example: true
                    email_notification:
                      type: object
                      properties:
                        alternative_host_reminder:
                          type: boolean
                          description: Notify the alternative host who is set or removed.
                          example: true
                        cancel_meeting_reminder:
                          type: boolean
                          description: Notify host and participants when the meeting is cancelled.
                          example: true
                        cloud_recording_available_reminder:
                          type: boolean
                          description: Whether to notify the host when a cloud recording is available.
                          example: true
                        jbh_reminder:
                          type: boolean
                          description: Notify host when participants join the meeting before them.
                          example: true
                        schedule_for_reminder:
                          type: boolean
                          description: Notify the host there is a meeting is scheduled, rescheduled, or cancelled.
                          example: true
                    in_meeting:
                      type: object
                      properties:
                        alert_guest_join:
                          type: boolean
                          description: Allow participants who belong to your account to see that a guest (someone who does not belong to your account) is participating in the meeting or webinar.
                          example: true
                        allow_users_to_delete_messages_in_meeting_chat:
                          type: boolean
                          description: 'If the value of this field is set to `true`,  allow users to delete messages in the in-meeting chat.

                            '
                          example: true
                        allow_live_streaming:
                          type: boolean
                          description: Whether to allow livestreaming.
                          example: true
                        allow_show_zoom_windows:
                          type: boolean
                          description: Show Zoom windows during screen share.
                          example: true
                        annotation:
                          type: boolean
                          description: Allow participants to use annotation tools to add information to shared screens.
                          example: true
                        anonymous_question_answer:
                          type: boolean
                          example: true
                        attendee_on_hold:
                          type: boolean
                          description: 'Allow host to put attendee on hold.


                            **This field has been deprecated and is no longer supported.**'
                          example: true
                          deprecated: true
                          default: false
                        attention_mode_focus_mode:
                          type: boolean
                          description: Whether to enable the [**Focus Mode**](https://support.zoom.us/hc/en-us/articles/360061113751-Using-focus-mode) feature. When enabled, this feature only displays the host and co-hosts' video and profile pictures during a meeting.
                          example: true
                        auto_answer:
                          type: boolean
                          description: Enable users to see and add contacts to 'auto-answer group' in the contact list on chat. Any call from members of this group will be automatically answered.
                          example: true
                        auto_generated_captions:
                          type: boolean
                          description: Whether to enable Zoom's [live transcription feature](https://support.zoom.us/hc/en-us/articles/207279736-Managing-closed-captioning-and-live-transcription#h_01FHGGHYJ4457H4GSZY0KM3NSB).
                          example: true
                        auto_saving_chat:
                          type: boolean
                          description: Automatically save all in-meeting chats.
                          example: true
                        breakout_room:
                          type: boolean
                          description: Allow host to split meeting participants into separate, smaller rooms.
                          example: true
                        chat:
                          type: boolean
                          description: Allow meeting participants to send chat message visible to all participants.
                          example: true
                        meeting_question_answer:
                          type: boolean
                          description: Allow participants to ask questions for the host and participants to answer.
                          example: true
                        closed_caption:
                          type: boolean
                          description: Allow host to type closed captions or assign a participant/third party device to add closed captions.
                          example: true
                        co_host:
                          type: boolean
                          description: Allow the host to add co-hosts. Co-hosts have the same in-meeting controls as the host.
                          example: true
                        custom_data_center_regions:
                          type: boolean
                          description: If set to `true`, account owners and admins on paid accounts can [select data center regions](https://support.zoom.us/hc/en-us/articles/360042411451-Selecting-data-center-regions-for-hosted-meetings-and-webinars) to use for hosting their real-time meeting and webinar traffic. These regions can be provided in the `data_center_regions` field in the account settings. If set to `false`, the regions cannot be customized and the default regions will be used.
                          example: true
                        disable_screen_sharing_for_host_meetings:
                          type: boolean
                          description: Whether to enable the **Disable desktop screen sharing for meetings you host** setting.
                          example: true
                        disable_screen_sharing_for_in_meeting_guests:
                          type: boolean
                          description: Whether to enable the **Disable screen sharing when guests are in the meeting** setting.
                          example: true
                        dscp_marking:
                          type: boolean
                          description: Allow users to select stereo audio during a meeting.
                          example: true
                        e2e_encryption:
                          type: boolean
                          description: Require that all meetings are encrypted using AES.
                          example: true
                        entry_exit_chime:
                          type: string
[...]
