openapi: 3.0.3
info:
  title: Moneybird readable record collections
  version: v2-20260909-51760653e9
  description: Generated from the official Moneybird OpenAPI v2 specification.
servers:
- url: https://moneybird.com/api/v2
  description: Production server
security:
- bearerAuth: []
paths:
  /{administration_id}/assets/{id}.json:
    get:
      summary: Get an asset by ID
      description: "Returns the asset with the given ID.\n\n### Required scope(s)\n\
        \ `documents`"
      tags:
      - Assets
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: An asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsTheAsset:
                  summary: Returns the asset
                  value:
                    id: '497800909195052396'
                    ledger_account_id: '497800909189809515'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-05-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '497800909195052396'
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '497800909195052396'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '497800909195052396'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '497800909195052396'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsTheAssetWithADisposal:
                  summary: Returns the asset with a disposal
                  value:
                    id: '497800909511722392'
                    ledger_account_id: '497800909506479511'
                    name: Asset 1
                    purchase_date: '2020-09-09'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-09-09'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '497800909511722392'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-09-09'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '497800909511722392'
                    sources: []
                    reinvestment_reserve_purchase: null
                ExposesCalculatedPurchaseValueReducedByTheAppliedReinvestmentReservePurchase:
                  summary: Exposes calculated purchase value reduced by the applied
                    reinvestment reserve purchase
                  value:
                    id: '497800909778060730'
                    ledger_account_id: '497800909772817849'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '1000.0'
                    calculated_purchase_value: '700.0'
                    current_value: '700.0'
                    value_change_plan: null
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase:
                      id: '497800909787497916'
                      amount: '300.0'
                      date: '2026-04-01'
                      asset_id: '497800909778060730'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
      operationId: get_administration_id_assets_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/assets.json:
    get:
      summary: List all assets
      description: "Returns a list of all assets.\nThe list is paginated. Use the\
        \ `per_page` and `page` parameters to control the pagination.\n\n### Required\
        \ scope(s)\n `documents`"
      tags:
      - Assets
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsAListOfAllAssets:
                  summary: Returns a list of all assets
                  value:
                  - id: '497800910821394012'
                    ledger_account_id: '497800910816151131'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-05-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '497800910821394012'
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '497800910821394012'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '497800910821394012'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '497800910821394012'
                    sources: []
                    reinvestment_reserve_purchase: null
                  - id: '497800911083538056'
                    ledger_account_id: '497800911079343751'
                    name: Asset 2
                    purchase_date: '2020-09-09'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-09-09'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '497800911083538056'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-09-09'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '497800911083538056'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAPaginatedListOfAssets:
                  summary: Returns a paginated list of assets
                  value:
                  - id: '497800911591048911'
                    ledger_account_id: '497800911586854606'
                    name: Asset 2
                    purchase_date: '2020-09-09'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-09-09'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '497800911591048911'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-09-09'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '497800911591048911'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAListOfActiveAssets:
                  summary: Returns a list of active assets
                  value:
                  - id: '497800911858435818'
                    ledger_account_id: '497800911853192937'
                    name: Asset 1
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-05-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '497800911858435818'
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '497800911858435818'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '497800911858435818'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '497800911858435818'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAListOfAssetsFilteredByLedgerAccount:
                  summary: Returns a list of assets filtered by ledger account
                  value:
                  - id: '497800912904914808'
                    ledger_account_id: '497800912899671927'
                    name: Asset 3
                    purchase_date: '2026-04-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-05-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '497800912904914808'
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '497800912904914808'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '497800912904914808'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '497800912904914808'
                    sources: []
                    reinvestment_reserve_purchase: null
      operationId: get_administration_id_assets
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: ledger_account_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/identifier'
        description: Filter on the ID of the ledger account
        examples:
          ReturnsAListOfAssetsFilteredByLedgerAccount:
            summary: Returns a list of assets filtered by ledger account
            value: '497800912899671927'
      - name: active
        in: query
        required: false
        schema:
          default: true
          anyOf:
          - type: boolean
          - type: string
        description: Whether to include only active assets
        examples:
          ReturnsAListOfAllAssets:
            summary: Returns a list of all assets
            value: 'false'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
  /{administration_id}/contacts/{contact_id}/additional_charges.json:
    get:
      summary: Get additional charges
      description: "Get the additional charges of the given contact.\n\n### Required\
        \ scope(s)\n `sales_invoices`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - sales_invoices
      responses:
        '200':
          description: A list of additional charges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscription_additional_charge_response'
              examples:
                DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
                  summary: Does return billed additional charges if include billed
                    is true
                  value:
                  - id: '497800875730797913'
                    administration_id: 123
                    contact_id: '497800875699340620'
                    subscription_id: null
                    product_id: '497800875728700760'
                    detail_id: null
                    amount: 1 x
                    price: '100.0'
                    period: 202106..202106
                    description: Transaction Costs
                  - id: '497800875762255201'
                    administration_id: 123
                    contact_id: '497800875699340620'
                    subscription_id: null
                    product_id: '497800875733943642'
                    detail_id: '497800875759109472'
                    amount: 1 x
                    price: '100.0'
                    period: 202106..202106
                    description: Transaction Costs
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_id_additional_charges
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: contact_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
      - name: include_billed
        in: query
        required: false
        schema:
          description: If true, includes the additional charges that have already
            been billed. Default is false.
          anyOf:
          - type: boolean
          - type: string
        examples:
          DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
            summary: Does return billed additional charges if include billed is true
            value: 'true'
  /{administration_id}/contacts/{id}.json:
    get:
      summary: Get contact
      description: "Returns all information about a contact.\n\n### Required scope(s)\n\
        \ Any of: `estimates`, `sales_invoices`, `documents`, `bank` or `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
              examples:
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '497800875999233446'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:51.846Z'
                    updated_at: '2026-09-09T13:18:51.856Z'
                    version: 1788959931
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/7ef134115b0d39fca8f00f16bf3a5e1ddd77f0a993b279d8d33773a3b838d9d2/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800876001330600'
                      contact_id: '497800875999233446'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:51.848Z'
                      updated_at: '2026-09-09T13:18:51.848Z'
                      version: 1788959931
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:51.852Z'
                      updated_at: '2026-09-09T13:18:51.852Z'
                ReturnsSepaIbanAsBankAccount:
                  summary: Returns sepa iban as bank account
                  value:
                    id: '497800876049565108'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:51.893Z'
                    updated_at: '2026-09-09T13:18:51.918Z'
                    version: 1788959931
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/64ad27b7df6442cce231e86d0ed0b83f7e01e6b71876cd2a5e25defb14e3be64/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800876051662262'
                      contact_id: '497800876049565108'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:51.896Z'
                      updated_at: '2026-09-09T13:18:51.896Z'
                      version: 1788959931
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:51.900Z'
                      updated_at: '2026-09-09T13:18:51.900Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: get_administration_contact
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
      - name: include_archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: string
  /{administration_id}/contacts.json:
    get:
      summary: List all contacts
      description: "Returns a paginated list of contacts in the administration.\n\n\
        Searching for contacts can be done by providing the `query` parameter with\
        \ search terms. The API searches for matches in the following contact fields:\n\
        \n- `company_name`\n- `attention`\n- `firstname`\n- `lastname`\n- `address1`\n\
        - `address2`\n- `zipcode`\n- `city`\n- `country`\n- `email`\n- `phone`\n-\
        \ `customer_id`\n- `tax_number`\n- `chamber_of_commerce`\n- `bank_account`\n\
        \n### Required scope(s)\n Any of: `estimates`, `sales_invoices`, `documents`,\
        \ `bank` or `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
              examples:
                ReturnsEmptyListWhenNoMatchesWithFilter:
                  summary: Returns empty list when no matches with filter
                  value: []
                ReturnsPaginatedContactsOnPage1:
                  summary: Returns paginated contacts on page 1
                  value:
                  - id: '497800878383695787'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.119Z'
                    updated_at: '2026-09-09T13:18:54.130Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/91382fc158b23302d84c4f1397ec5f0beefea52b913d0dfce0529cb954a12520/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800878385792941'
                      contact_id: '497800878383695787'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:54.122Z'
                      updated_at: '2026-09-09T13:18:54.122Z'
                      version: 1788959934
                    - id: '497800878412007354'
                      contact_id: '497800878383695787'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.147Z'
                      updated_at: '2026-09-09T13:18:54.147Z'
                      version: 1788959934
                    - id: '497800878416201661'
                      contact_id: '497800878383695787'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.151Z'
                      updated_at: '2026-09-09T13:18:54.151Z'
                      version: 1788959934
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:54.126Z'
                      updated_at: '2026-09-09T13:18:54.126Z'
                AllowsFilteringByName:
                  summary: Allows filtering by name
                  value:
                  - id: '497800878825146327'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.540Z'
                    updated_at: '2026-09-09T13:18:54.622Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/3c064671d9c41a1d17a9f154337ec9947688f1f919fed159f064727c31c36000/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800878827243481'
                      contact_id: '497800878825146327'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:54.543Z'
                      updated_at: '2026-09-09T13:18:54.543Z'
                      version: 1788959934
                    - id: '497800879027521510'
                      contact_id: '497800878825146327'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.734Z'
                      updated_at: '2026-09-09T13:18:54.734Z'
                      version: 1788959934
                    - id: '497800879033812969'
                      contact_id: '497800878825146327'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.740Z'
                      updated_at: '2026-09-09T13:18:54.740Z'
                      version: 1788959934
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:54.617Z'
                      updated_at: '2026-09-09T13:18:54.617Z'
                ReturnAListOfContacts:
                  summary: Return a list of contacts
                  value:
                  - id: '497800879078901741'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.782Z'
                    updated_at: '2026-09-09T13:18:54.794Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/168bf4cbfd53fbcf2defcc01e96dd7dd122ef7d7589fde977c70a12680d84947/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800879080998895'
                      contact_id: '497800879078901741'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:54.785Z'
                      updated_at: '2026-09-09T13:18:54.785Z'
                      version: 1788959934
                    - id: '497800879110359036'
                      contact_id: '497800879078901741'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.812Z'
                      updated_at: '2026-09-09T13:18:54.812Z'
                      version: 1788959934
                    - id: '497800879114553343'
                      contact_id: '497800879078901741'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-09-09T13:18:54.817Z'
                      updated_at: '2026-09-09T13:18:54.817Z'
                      version: 1788959934
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:54.790Z'
                      updated_at: '2026-09-09T13:18:54.790Z'
                  - id: '497800879096727540'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: 1 Infinite Loop
                    address2: ''
                    zipcode: '123456'
                    city: Redmond
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '2'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: true
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: Foobar Holding B.V.
                    sepa_bic: RABONL2U
                    sepa_mandate_id: MAN12313
                    sepa_mandate_date: '2014-01-01'
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.799Z'
                    updated_at: '2026-09-09T13:18:54.799Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/1ab034e9c0063eb184ca167200ac4624a399e78969ba2e5caa3eac6197bc3815/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800879098824694'
                      contact_id: '497800879096727540'
                      administration_id: 123
                      firstname: John
                      lastname: Doe
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:54.802Z'
                      updated_at: '2026-09-09T13:18:54.802Z'
                      version: 1788959934
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:54.806Z'
                      updated_at: '2026-09-09T13:18:54.806Z'
                  - id: '497800879107213306'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: Hoofdstraat 12
                    address2: null
                    zipcode: 1234AB
                    city: Amsterdam
                    country: NL
                    phone: null
                    delivery_method: Email
                    customer_id: customer-1
                    tax_number: null
                    chamber_of_commerce: null
                    bank_account: null
                    is_trusted: false
                    max_transfer_amount: null
                    attention: null
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: null
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: null
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: null
                    sepa_iban_account_name: null
                    sepa_bic: null
                    sepa_mandate_id: null
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: null
                    credit_card_reference: null
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: null
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.810Z'
                    updated_at: '2026-09-09T13:18:54.810Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/0000000000000000000000000000000000000000000000000000000000000001/all
                    notes: []
                    custom_fields: []
                    contact_people: []
                    archived: false
                    events: []
                ReturnsPaginatedContactsOnPage2:
                  summary: Returns paginated contacts on page 2
                  value:
                  - id: '497800879168029706'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: 1 Infinite Loop
                    address2: ''
                    zipcode: '123456'
                    city: Redmond
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '2'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: true
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: Foobar Holding B.V.
                    sepa_bic: RABONL2U
                    sepa_mandate_id: MAN12313
                    sepa_mandate_date: '2014-01-01'
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-09-09T13:18:54.867Z'
                    updated_at: '2026-09-09T13:18:54.867Z'
                    version: 1788959934
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/1be89661c3c89c5f65f48ec7d587d66d8edf9598f58807b1ee062a9c3d3045cb/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '497800879170126860'
                      contact_id: '497800879168029706'
                      administration_id: 123
                      firstname: John
                      lastname: Doe
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-09-09T13:18:54.870Z'
                      updated_at: '2026-09-09T13:18:54.870Z'
                      version: 1788959934
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:18:54.874Z'
                      updated_at: '2026-09-09T13:18:54.874Z'
                AllowsFilteringByNameInCombinationWithPagination:
                  summary: Allows filtering by name in combination with pagination
                  value: []
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsAnErrorWhenTooManyContactsAreRequested:
                  summary: Returns an error when too many contacts are requested
                  value:
                    error: per_page does not have a valid value
      operationId: get_administration_contacts
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      - name: query
        in: query
        required: false
        description: Free-text search across name, contact people, email, phone, customer
          id, tax number, chamber of commerce, IBAN, and address fields.
        schema:
          type: string
        examples:
          ReturnsEmptyListWhenNoMatchesWithFilter:
            summary: Returns empty list when no matches with filter
            value: sdfadsfdsafdsafadsgasdfadsfdsf
          AllowsFilteringByName:
            summary: Allows filtering by name
            value: appleseed
      - name: include_archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: string
      - name: todo
        in: query
        required: false
        schema:
          type: string
      - name: contact_field
        in: query
        required: false
        schema:
          type: string
      - name: contact_value
        in: query
        required: false
        schema:
          type: string
      - name: contact_import_id
        in: query
        required: false
        description: Restrict to contacts created by the given contact import batch.
        schema:
          anyOf:
          - type: integer
          - type: string
  /{administration_id}/custom_fields.json:
    get:
      summary: List all custom fields
      description: "Custom fields are used to add extra information to entities in\
        \ the administration. The `source`\nfield can be `sales_invoices`, `contact`\
        \ or `identity` and defines for which entities the custom\nfield can be used.\
        \ The id of a custom field is required to add a value for a custom field to\
        \ an\nentity.\n\n### Required scope(s)\n Any of: `settings`, `sales_invoices`,\
        \ `documents`, `estimates` or `bank`"
      tags:
      - Custom fields
      security:
      - bearerAuth:
        - settings
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - estimates
      - bearerAuth:
        - bank
      responses:
        '200':
          description: A list of custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/custom_field_response'
              examples:
                ReturnsAllCustomFieldsOfAnAdministration:
                  summary: Returns all custom fields of an administration
                  value:
                  - id: '497800841048098452'
                    administration_id: 123
                    name: custom_field_97505dc112669a99cd9e
                    source: sales_invoice
      operationId: get_administration_id_custom_fields
      parameters:
      - $ref: '#/components/parameters/administration_id'
  /{administration_id}/document_styles.json:
    get:
      summary: List all document styles
      description: "Returns a list of all document styles.\n\n### Required scope(s)\n\
        \ Any of: `settings`, `sales_invoices` or `estimates`"
      tags:
      - Document styles
      security:
      - bearerAuth:
        - settings
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - estimates
      responses:
        '200':
          description: A list of document styles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/document_style_response'
              examples:
                ReturnsAllDocumentstylesOfAnAdministration:
                  summary: Returns all documentstyles of an administration
                  value:
                  - id: '497800833436484761'
                    administration_id: 123
                    name: Standaard
                    identity_id: '497800832738133099'
                    default: true
                    logo_hash: null
                    logo_container_full_width: false
                    logo_display_width: 50
                    logo_position: right
                    background_hash: null
                    paper_size: A4
                    address_position: left
                    font_size: 9
                    font_family: lucida_grande
                    print_on_stationery: false
                    custom_css: null
                    invoice_sender_address:
                    - field: company_name
                      bold: true
                    - field: address
                    - field: newline
                    - field: email
                    - field: phone
                    - field: newline
                    - field: chamber_of_commerce
                      label: true
                    - field: tax_number
                      label: true
                    - field: bank_account_number
                      label: true
                    invoice_metadata_left:
                    - field: reference
                    invoice_metadata_right:
                    - field: invoice_date
                    - field: due_date
                    estimate_sender_address:
                    - field: company_name
                      bold: true
                    - field: address
                    - field: newline
                    - field: email
                    - field: phone
                    - field: newline
                    - field: chamber_of_commerce
                      label: true
                    - field: tax_number
                      label: true
                    - field: bank_account_number
                      label: true
                    estimate_metadata_left:
                    - field: reference
                    estimate_metadata_right:
                    - field: estimate_date
                    - field: due_date
                    created_at: '2026-09-09T13:18:11.253Z'
                    updated_at: '2026-09-09T13:18:11.253Z'
      operationId: get_administration_id_document_styles
      parameters:
      - $ref: '#/components/parameters/administration_id'
  /{administration_id}/documents/general_documents/{id}.json:
    get:
      summary: Get general document
      description: "Returns a general document by id.\n\n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A general document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_document_response'
              examples:
                ReturnsTheWantedGeneralDocument:
                  summary: Returns the wanted general document
                  value:
                    id: '497800967760118788'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 2
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.355Z'
                    updated_at: '2026-09-09T13:20:19.355Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.358Z'
                      updated_at: '2026-09-09T13:20:19.358Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                OnlyReturnsGeneralDocuments:
                  summary: Only returns general documents
                  value:
                    error: 'Record not found for model name: General document'
      operationId: get_administration_id_documents_general_documents_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/documents/general_documents.json:
    get:
      summary: Get general documents
      description: "Returns a paginated list of documents of this type in the administration.\n\
        \n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of general documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_document_response'
              examples:
                ReturnsAListOfGeneralDocuments:
                  summary: Returns a list of general documents
                  value:
                  - id: '497800968041137234'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 5
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.624Z'
                    updated_at: '2026-09-09T13:20:19.624Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.626Z'
                      updated_at: '2026-09-09T13:20:19.626Z'
                  - id: '497800968032748624'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 4
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.616Z'
                    updated_at: '2026-09-09T13:20:19.616Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.618Z'
                      updated_at: '2026-09-09T13:20:19.618Z'
                  - id: '497800968025408590'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 3
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.608Z'
                    updated_at: '2026-09-09T13:20:19.608Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.610Z'
                      updated_at: '2026-09-09T13:20:19.610Z'
                  - id: '497800968015971404'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 2
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.600Z'
                    updated_at: '2026-09-09T13:20:19.600Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.602Z'
                      updated_at: '2026-09-09T13:20:19.602Z'
                ReturnsPaginatedGeneralDocumentsOnPage1:
                  summary: Returns paginated general documents on page 1
                  value:
                  - id: '497800968129217641'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 5
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.707Z'
                    updated_at: '2026-09-09T13:20:19.707Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.709Z'
                      updated_at: '2026-09-09T13:20:19.709Z'
                ReturnsPaginatedGeneralDocumentsOnPage2:
                  summary: Returns paginated general documents on page 2
                  value:
                  - id: '497800968211006590'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-09-09'
                    due_date: null
                    entry_number: 4
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-09-09T13:20:19.786Z'
                    updated_at: '2026-09-09T13:20:19.786Z'
                    version: 1788960019
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:19.788Z'
                      updated_at: '2026-09-09T13:20:19.788Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsAnErrorWhenTooManyGeneralDocumentsAreRequested:
                  summary: Returns an error when too many general documents are requested
                  value:
                    error: Per Page is too big
                    symbolic:
                      per_page: max
      operationId: get_administration_id_documents_general_documents
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: filter
        in: query
        required: false
        description: 'Filters are `key:value` terms separated by commas (e.g. `period:this_year,state:open`).
          Any filter you pass replaces the defaults below entirely, so include every
          key you need — in particular pass an explicit `period` (a named period or
          a `YYYYMMDD..YYYYMMDD` range) to look beyond the default financial year.
          Available filters:


          | **Filter** | **Type** | **Default** | **Description** |

          | - | - | - | - |

          | period | `String` | `this_year` | A named period (`this_week`, `prev_week`,
          `next_week`, `this_month`, `prev_month`, `next_month`, `this_quarter`, `prev_quarter`,
          `next_quarter`, `this_year`, `prev_year`, `next_year`) or a custom range
          (`201301..201302`, `20130101..20130131`) |

          | state | `String` | `all` | `all`, `new`, `saved`, `open`, `paid`, `late`
          or `pending_payment`. `paid`, `late` and `pending_payment` only apply to
          documents with a payment lifecycle (purchase invoices and receipts) |

          | recurring | `String` | `all` | `all`, `enabled` or `disabled` |

          | attachment | `String` | `all` | `all`, `with` or `without` |

          | reference | `String` | | Documents with the given reference value |

          | contact_id | `Integer` | | Documents belonging to the given contact |

          | ledger_account_id | `Integer` | | Documents booking against the given
          ledger account |

          | updated_after | `String` | | ISO 8601 timestamp in UTC; documents updated
          strictly after this time |


          Multiple values for `state`, `recurring` and `attachment` can be combined
          with a pipe, e.g. `state:open|paid`.'
        schema:
          type: string
          default: period:this_year
      - name: new_filter
        in: query
        required: false
        schema:
          type: string
          description: 'String terms, example: `key1:value1,key2:value2`.'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
  /{administration_id}/documents/general_journal_documents/{id}.json:
    get:
      summary: Get general journal document
      description: "Returns a general journal document by id.\n\n### Required scope(s)\n\
        \ `documents`"
      tags:
      - 'Documents: General journal documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A general journal document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_journal_document_response'
              examples:
                ReturnsTheWantedGeneralJournalDocument:
                  summary: Returns the wanted general journal document
                  value:
                    id: '497800997972739394'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:48.168Z'
                    updated_at: '2026-09-09T13:20:48.168Z'
                    version: 1788960048
                    general_journal_document_entries:
                    - id: '497800997973787971'
                      administration_id: 123
                      ledger_account_id: '497800997957010753'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:48.170Z'
                      updated_at: '2026-09-09T13:20:48.170Z'
                      description: First
                    - id: '497800997973787972'
                      administration_id: 123
                      ledger_account_id: '497800997957010753'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:48.170Z'
                      updated_at: '2026-09-09T13:20:48.170Z'
                      description: Second
                    - id: '497800997974836549'
                      administration_id: 123
                      ledger_account_id: '497800997957010753'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:48.171Z'
                      updated_at: '2026-09-09T13:20:48.171Z'
                      description: Third
                    - id: '497800997975885126'
                      administration_id: 123
                      ledger_account_id: '497800997957010753'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:48.172Z'
                      updated_at: '2026-09-09T13:20:48.172Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:48.173Z'
                      updated_at: '2026-09-09T13:20:48.173Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                OnlyReturnsGeneralJournalDocuments:
                  summary: Only returns general journal documents
                  value:
                    error: 'Record not found for model name: Manual journal'
      operationId: get_administration_id_documents_general_journal_documents_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/documents/general_journal_documents.json:
    get:
      summary: Get general journal documents
      description: "Returns a paginated list of documents of this type in the administration.\n\
        \nThe `exclude_new_general_journal_documents` parameter, when set to `true`,\
        \ removes documents that are still in the `new` state from the response. It\
        \ has no effect on other document types.\n\n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General journal documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of general journal documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_journal_document_response'
              examples:
                ReturnsPaginatedGeneralJournalDocumentsOnPage2:
                  summary: Returns paginated general journal documents on page 2
                  value:
                  - id: '497800997159045072'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.392Z'
                    updated_at: '2026-09-09T13:20:47.392Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997160093649'
                      administration_id: 123
                      ledger_account_id: '497800997142267855'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.394Z'
                      updated_at: '2026-09-09T13:20:47.394Z'
                      description: First
                    - id: '497800997161142226'
                      administration_id: 123
                      ledger_account_id: '497800997142267855'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.395Z'
                      updated_at: '2026-09-09T13:20:47.395Z'
                      description: Second
                    - id: '497800997162190803'
                      administration_id: 123
                      ledger_account_id: '497800997142267855'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.395Z'
                      updated_at: '2026-09-09T13:20:47.395Z'
                      description: Third
                    - id: '497800997162190804'
                      administration_id: 123
                      ledger_account_id: '497800997142267855'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.396Z'
                      updated_at: '2026-09-09T13:20:47.396Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.397Z'
                      updated_at: '2026-09-09T13:20:47.397Z'
                ReturnsAListOfGeneralJournalDocuments:
                  summary: Returns a list of general journal documents
                  value:
                  - id: '497800997400216640'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.623Z'
                    updated_at: '2026-09-09T13:20:47.623Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997402313793'
                      administration_id: 123
                      ledger_account_id: '497800997383439423'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.624Z'
                      updated_at: '2026-09-09T13:20:47.624Z'
                      description: First
                    - id: '497800997402313794'
                      administration_id: 123
                      ledger_account_id: '497800997383439423'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.625Z'
                      updated_at: '2026-09-09T13:20:47.625Z'
                      description: Second
                    - id: '497800997403362371'
                      administration_id: 123
                      ledger_account_id: '497800997383439423'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.626Z'
                      updated_at: '2026-09-09T13:20:47.626Z'
                      description: Third
                    - id: '497800997403362372'
                      administration_id: 123
                      ledger_account_id: '497800997383439423'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.626Z'
                      updated_at: '2026-09-09T13:20:47.626Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.628Z'
                      updated_at: '2026-09-09T13:20:47.628Z'
                  - id: '497800997366662189'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.590Z'
                    updated_at: '2026-09-09T13:20:47.590Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997367710766'
                      administration_id: 123
                      ledger_account_id: '497800997348836396'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.591Z'
                      updated_at: '2026-09-09T13:20:47.591Z'
                      description: First
                    - id: '497800997367710767'
                      administration_id: 123
                      ledger_account_id: '497800997348836396'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.592Z'
                      updated_at: '2026-09-09T13:20:47.592Z'
                      description: Second
                    - id: '497800997368759344'
                      administration_id: 123
                      ledger_account_id: '497800997348836396'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.593Z'
                      updated_at: '2026-09-09T13:20:47.593Z'
                      description: Third
                    - id: '497800997369807921'
                      administration_id: 123
                      ledger_account_id: '497800997348836396'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.593Z'
                      updated_at: '2026-09-09T13:20:47.593Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.595Z'
                      updated_at: '2026-09-09T13:20:47.595Z'
                  - id: '497800997332059162'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.558Z'
                    updated_at: '2026-09-09T13:20:47.558Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997333107739'
                      administration_id: 123
                      ledger_account_id: '497800997315281945'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.559Z'
                      updated_at: '2026-09-09T13:20:47.559Z'
                      description: First
                    - id: '497800997334156316'
                      administration_id: 123
                      ledger_account_id: '497800997315281945'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.560Z'
                      updated_at: '2026-09-09T13:20:47.560Z'
                      description: Second
                    - id: '497800997335204893'
                      administration_id: 123
                      ledger_account_id: '497800997315281945'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.561Z'
                      updated_at: '2026-09-09T13:20:47.561Z'
                      description: Third
                    - id: '497800997335204894'
                      administration_id: 123
                      ledger_account_id: '497800997315281945'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.561Z'
                      updated_at: '2026-09-09T13:20:47.561Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.563Z'
                      updated_at: '2026-09-09T13:20:47.563Z'
                  - id: '497800997299553287'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.526Z'
                    updated_at: '2026-09-09T13:20:47.526Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997300601864'
                      administration_id: 123
                      ledger_account_id: '497800997282776070'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.527Z'
                      updated_at: '2026-09-09T13:20:47.527Z'
                      description: First
                    - id: '497800997300601865'
                      administration_id: 123
                      ledger_account_id: '497800997282776070'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.528Z'
                      updated_at: '2026-09-09T13:20:47.528Z'
                      description: Second
                    - id: '497800997301650442'
                      administration_id: 123
                      ledger_account_id: '497800997282776070'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.529Z'
                      updated_at: '2026-09-09T13:20:47.529Z'
                      description: Third
                    - id: '497800997302699019'
                      administration_id: 123
                      ledger_account_id: '497800997282776070'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.529Z'
                      updated_at: '2026-09-09T13:20:47.529Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.531Z'
                      updated_at: '2026-09-09T13:20:47.531Z'
                ReturnsPaginatedGeneralJournalDocumentsOnPage1:
                  summary: Returns paginated general journal documents on page 1
                  value:
                  - id: '497800997599446173'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-09-09'
                    journal_type: null
                    created_at: '2026-09-09T13:20:47.813Z'
                    updated_at: '2026-09-09T13:20:47.813Z'
                    version: 1788960047
                    general_journal_document_entries:
                    - id: '497800997601543326'
                      administration_id: 123
                      ledger_account_id: '497800997583717532'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-09-09T13:20:47.814Z'
                      updated_at: '2026-09-09T13:20:47.814Z'
                      description: First
                    - id: '497800997601543327'
                      administration_id: 123
                      ledger_account_id: '497800997583717532'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-09-09T13:20:47.815Z'
                      updated_at: '2026-09-09T13:20:47.815Z'
                      description: Second
                    - id: '497800997602591904'
                      administration_id: 123
                      ledger_account_id: '497800997583717532'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-09-09T13:20:47.816Z'
                      updated_at: '2026-09-09T13:20:47.816Z'
                      description: Third
                    - id: '497800997602591905'
                      administration_id: 123
                      ledger_account_id: '497800997583717532'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-09-09T13:20:47.816Z'
                      updated_at: '2026-09-09T13:20:47.816Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '497800832442434661'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-09-09T13:20:47.818Z'
                      updated_at: '2026-09-09T13:20:47.818Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsAnErrorWhenTooManyGeneralJournalDocumentsAreRequested:
                  summary: Returns an error when too many general journal documents
                    are requested
                  value:
                    error: Per Page is too big
                    symbolic:
                      per_page: max
      operationId: get_administration_id_documents_general_journal_documents
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: filter
        in: query
        required: false
        description: 'Filters are `key:value` terms separated by commas (e.g. `period:this_year,state:open`).
          Any filter you pass replaces the defaults below entirely, so include every
          key you need — in particular pass an explicit `period` (a named period or
          a `YYYYMMDD..YYYYMMDD` range) to look beyond the default financial year.
          Available filters:


          | **Filter** | **Type** | **Default** | **Description** |

          | - | - | - | - |

          | period | `String` | `this_year` | A named period (`this_week`, `prev_week`,
          `next_week`, `this_month`, `prev_month`, `next_month`, `this_quarter`, `prev_quarter`,
          `next_quarter`, `this_year`, `prev_year`, `next_year`) or a custom range
          (`201301..201302`, `20130101..20130131`) |

          | state | `String` | `all` | `all`, `new`, `saved`, `open`, `paid`, `late`
          or `pending_payment`. `paid`, `late` and `pending_payment` only apply to
          documents with a payment lifecycle (purchase invoices and receipts) |

          | recurring | `String` | `all` | `all`, `enabled` or `disabled` |

          | attachment | `String` | `all` | `all`, `with` or `without` |

          | reference | `String` | | Documents with the given reference value |

          | contact_id | `Integer` | | Documents belonging to the given contact |

          | ledger_account_id | `Integer` | | Documents booking against the given
          ledger account |

          | updated_after | `String` | | ISO 8601 timestamp in UTC; documents updated
          strictly after this time |


          Multiple values for `state`, `recurring` and `attachment` can be combined
          with a pipe, e.g. `state:open|paid`.'
        schema:
          type: string
          default: period:this_year
      - name: new_filter
        in: query
        required: false
        schema:
          type: string
          description: 'String terms, example: `key1:value1,key2:value2`.'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/per_page'
      - name: exclude_new_general_journal_documents
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: string
  /{administration_id}/documents/purchase_invoices/{id}.json:
    get:
      summary: Get purchase invoice
      description: "Returns a purchase invoice by id.\n\n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: Purchase invoices'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A purchase invoice
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/purchase_invoice_response'
              examples:
                ReturnsTheWantedPurchaseInvoice:
                  summary: Returns the wanted purchase invoice
                  value:
                    id: '497800899192685987'
                    administration_id: 123
                    contact_id: '497800899170665889'
                    contact:
                      id: '497800899170665889'
                      administration_id: 123
                      company_name: Foobar Holding B.V.
                      firstname: null
                      lastname: null
                      address1: Hoofdstraat 12
                      address2: null
                      zipcode: 1234AB
                      city: Amsterdam
                      country: NL
                      phone: null
                      delivery_method: Email
                      customer_id: customer-1
                      tax_number: null
                      chamber_of_commerce: null
                      bank_account: null
                      is_trusted: false
                      max_transfer_amount: null
                      attention: null
                      email: info@example.com
                      email_ubl: true
                      send_invoices_to_attention: null
                      send_invoices_to_email: info@example.com
                      send_estimates_to_attention: null
                      send_estimates_to_email: info@example.com
                      direct_debit: false
                      sepa_active: false
                      sepa_iban: null
                      sepa_iban_account_name: null
                      sepa_bic: null
                      sepa_mandate_id: null
                      sepa_mandate_date: null
                      sepa_sequence_type: RCUR
                      credit_card_number: null
                      credit_card_reference: null
                      credit_card_type: null
                      tax_number_validated_at: null
                      tax_number_valid: null
                      invoice_workflow_id: null
                      estimate_workflow_id: null
                      si_identifier: null
                      si_identifier_type: null
                      moneybird_payments_mandate: false
                      created_at: '2026-09-09T13:19:13.943Z'
                      updated_at: '2026-09-09T13:19:13.943Z'
                      version: 1788959953
                      sales_invoices_url: https://moneybird.dev/123/sales_invoices/0000000000000000000000000000000000000000000000000000000000000001/all
                      notes: []
                      custom_fields: []
                      contact_people: []
                      archived: false
                    reference: 2013-01234
                    date: '2026-09-09'
                    due_date: '2026-09-23'
                    entry_number: 1
                    state: open
                    currency: EUR
                    exchange_rate: '1.0'
                    revenue_invoice: false
                    prices_are_incl_tax: false
                    origin: null
                    paid_at: null
                    tax_number: null
                    total_price_excl_tax: '300.0'
                    total_price_excl_tax_base: '300.0'
                    total_price_incl_tax: '363.0'
                    total_price_incl_tax_base: '363.0'
                    created_at: '2026-09-09T13:19:13.964Z'
                    updated_at: '2026-09-09T13:19:13.967Z'
                    version: 1788959953
                    details:
                    - id: '497800899193734564'
                      administration_id: 123
                      tax_rate_id: '497800833034880141'
                      ledger_account_id: '497800832890176633'
                      project_id: null
                      product_id: null
                      amount: null
                      amount_decimal: '1.0'
                      description: Delivery Apple iPad
[...]
