openapi: 3.0.3
info:
  title: Moneybird readable record collections
  version: v2-20261008-2ab2a03735
  description: Generated from the official Moneybird OpenAPI v2 specification.
servers:
- url: https://moneybird.com/api/v2
  description: Production server
security:
- bearerAuth: []
paths:
  /administrations.json:
    get:
      summary: List all administrations
      description: Lists all administrations the current user has access to.
      tags:
      - Administrations
      security:
      - bearerAuth: []
      responses:
        '200':
          description: A list of administrations
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/administration_response'
              examples:
                ReturnsAccessTypeUserWhenHavingDirectAccessToTheAdministration:
                  summary: Returns access type user when having direct access to the
                    administration
                  value:
                  - id: '179146431646381854'
                    name: Parkietje B.V.
                    language: nl
                    currency: EUR
                    country: NL
                    time_zone: Europe/Amsterdam
                    access: user
                    suspended: false
                    period_locked_until: null
                    period_start_date: '2026-01-01'
                ValidatesThatAUserHasAccessToMultipleAdministrationsViaDifferentWays:
                  summary: Validates that a user has access to multiple administrations
                    via different ways
                  value:
                  - id: '179146431648412260'
                    name: Administratie
                    language: nl
                    currency: EUR
                    country: NL
                    time_zone: Europe/Amsterdam
                    access: accountant_company
                    suspended: false
                    period_locked_until: null
                    period_start_date: '2026-01-01'
                  - id: 123
                    name: Parkietje B.V.
                    language: nl
                    currency: EUR
                    country: NL
                    time_zone: Europe/Amsterdam
                    access: user
                    suspended: false
                    period_locked_until: null
                    period_start_date: '2026-01-01'
                ReturnAListOfAdministrationsThatUserHasAccessTo:
                  summary: Return a list of administrations that user has access to
                  value:
                  - id: '17914643167852478'
                    name: Administratie
                    language: nl
                    currency: EUR
                    country: NL
                    time_zone: Europe/Amsterdam
                    access: user
                    suspended: false
                    period_locked_until: null
                    period_start_date: '2026-01-01'
                  - id: 123
                    name: Parkietje B.V.
                    language: nl
                    currency: EUR
                    country: NL
                    time_zone: Europe/Amsterdam
                    access: user
                    suspended: false
                    period_locked_until: null
                    period_start_date: '2026-01-01'
      operationId: get_administrations
  /{administration_id}/assets/{id}.json:
    get:
      summary: Get an asset by ID
      description: "Returns the asset with the given ID.\n\n### Required scope(s)\n\
        \ `documents`"
      tags:
      - Assets
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: An asset
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsTheAssetWithADisposal:
                  summary: Returns the asset with a disposal
                  value:
                    id: '500426924600853877'
                    ledger_account_id: '500426924594562420'
                    name: Asset 1
                    purchase_date: '2020-10-08'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-10-08'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '500426924600853877'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-10-08'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '500426924600853877'
                    sources: []
                    reinvestment_reserve_purchase: null
                ExposesCalculatedPurchaseValueReducedByTheAppliedReinvestmentReservePurchase:
                  summary: Exposes calculated purchase value reduced by the applied
                    reinvestment reserve purchase
                  value:
                    id: '500426924934301079'
                    ledger_account_id: '500426924928009622'
                    name: Asset 1
                    purchase_date: '2026-05-01'
                    purchase_value: '1000.0'
                    calculated_purchase_value: '700.0'
                    current_value: '700.0'
                    value_change_plan: null
                    disposal: null
                    value_changes: []
                    sources: []
                    reinvestment_reserve_purchase:
                      id: '500426924943738265'
                      amount: '300.0'
                      date: '2026-05-01'
                      asset_id: '500426924934301079'
                ReturnsTheAsset:
                  summary: Returns the asset
                  value:
                    id: '500426924982535586'
                    ledger_account_id: '500426924976244129'
                    name: Asset 1
                    purchase_date: '2026-05-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '500426924982535586'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '500426924982535586'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '500426924982535586'
                    - type: arbitrary
                      date: '2026-09-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '500426924982535586'
                    sources: []
                    reinvestment_reserve_purchase: null
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsA404IfTheAssetDoesNotExist:
                  summary: Returns a 404 if the asset does not exist
                  value:
                    error: 'Record not found for model name: asset'
      operationId: get_administration_id_assets_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/assets.json:
    get:
      summary: List all assets
      description: "Returns a list of all assets.\nThe list is paginated. Use the\
        \ `per_page` and `page` parameters to control the pagination.\n\n### Required\
        \ scope(s)\n `documents`"
      tags:
      - Assets
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of assets
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/asset_response'
              examples:
                ReturnsAListOfAssetsFilteredByLedgerAccount:
                  summary: Returns a list of assets filtered by ledger account
                  value:
                  - id: '500426927631238947'
                    ledger_account_id: '500426927625996066'
                    name: Asset 3
                    purchase_date: '2026-05-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '500426927631238947'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '500426927631238947'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '500426927631238947'
                    - type: arbitrary
                      date: '2026-09-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '500426927631238947'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAListOfAllAssets:
                  summary: Returns a list of all assets
                  value:
                  - id: '500426927986706253'
                    ledger_account_id: '500426927980414796'
                    name: Asset 1
                    purchase_date: '2026-05-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '500426927986706253'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '500426927986706253'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '500426927986706253'
                    - type: arbitrary
                      date: '2026-09-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '500426927986706253'
                    sources: []
                    reinvestment_reserve_purchase: null
                  - id: '500426928287647609'
                    ledger_account_id: '500426928281356152'
                    name: Asset 2
                    purchase_date: '2020-10-08'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-10-08'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '500426928287647609'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-10-08'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '500426928287647609'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAListOfActiveAssets:
                  summary: Returns a list of active assets
                  value:
                  - id: '500426928375728015'
                    ledger_account_id: '500426928370485134'
                    name: Asset 1
                    purchase_date: '2026-05-01'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '12145.67'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: true
                      monthly_depreciation: '216.71'
                    disposal: null
                    value_changes:
                    - type: arbitrary
                      date: '2026-06-01'
                      amount: '-50.0'
                      description: Value change 1
                      externally_booked: false
                      asset_id: '500426928375728015'
                    - type: arbitrary
                      date: '2026-07-01'
                      amount: '-50.0'
                      description: Value change 2
                      externally_booked: false
                      asset_id: '500426928375728015'
                    - type: arbitrary
                      date: '2026-08-01'
                      amount: '-50.0'
                      description: Value change 3
                      externally_booked: false
                      asset_id: '500426928375728015'
                    - type: arbitrary
                      date: '2026-09-01'
                      amount: '-50.0'
                      description: Value change 4
                      externally_booked: false
                      asset_id: '500426928375728015'
                    sources: []
                    reinvestment_reserve_purchase: null
                ReturnsAPaginatedListOfAssets:
                  summary: Returns a paginated list of assets
                  value:
                  - id: '500426929039476733'
                    ledger_account_id: '500426929035282428'
                    name: Asset 2
                    purchase_date: '2020-10-08'
                    purchase_value: '12345.67'
                    calculated_purchase_value: '12345.67'
                    current_value: '0.0'
                    value_change_plan:
                      lifespan_in_years: 5
                      residual_value: '10.0'
                      active: false
                      monthly_depreciation: '205.59'
                    disposal:
                      date: '2026-10-08'
                      reason: out_of_use
                      externally_booked: false
                      asset_id: '500426929039476733'
                      reinvestment_reserve_sale: null
                    value_changes:
                    - type: manual
                      date: '2026-10-08'
                      amount: '-12345.67'
                      description: Depreciation
                      externally_booked: false
                      asset_id: '500426929039476733'
                    sources: []
                    reinvestment_reserve_purchase: null
      operationId: get_administration_id_assets
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: ledger_account_id
        in: query
        required: false
        schema:
          $ref: '#/components/schemas/identifier'
        description: Filter on the ID of the ledger account
        examples:
          ReturnsAListOfAssetsFilteredByLedgerAccount:
            summary: Returns a list of assets filtered by ledger account
            value: '500426927625996066'
      - name: active
        in: query
        required: false
        schema:
          default: true
          anyOf:
          - type: boolean
          - type: string
        description: Whether to include only active assets
        examples:
          ReturnsAListOfAllAssets:
            summary: Returns a list of all assets
            value: 'false'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
  /{administration_id}/contacts/{contact_id}/contact_people/{id}.json:
    get:
      summary: Get contact person
      description: "Returns all information about a contact person.\n\n### Required\
        \ scope(s)\n Any of: `estimates`, `sales_invoices`, `documents`, `bank` or\
        \ `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A contact person
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact_person_response'
              examples:
                ReturnAContactPerson:
                  summary: Return a contact person
                  value:
                    id: '500426830314997241'
                    contact_id: '500426830311851511'
                    administration_id: 123
                    firstname: John
                    lastname: Appleseed
                    phone: null
                    email: null
                    department: null
                    created_at: '2026-10-08T12:57:17.033Z'
                    updated_at: '2026-10-08T12:57:17.033Z'
                    version: 1791464237
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactPersonDoesNotExist:
                  summary: Returns 404 when contact person does not exist
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: get_administration_id_contacts_contact_id_contact_people_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: contact_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/contacts/{contact_id}/moneybird_payments_mandate.json:
    get:
      summary: Get Moneybird Payments mandate
      description: "Returns information about the stored Moneybird Payments mandate.\
        \ Only\navailable when Moneybird Payments is enabled for the administration.\n\
        \n### Required scope(s)\n Any of: `estimates`, `sales_invoices`, `documents`,\
        \ `bank` or `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A Moneybird Payments mandate
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/recurring_contract_response'
              examples:
                ReturnsInformationAboutTheStoredMoneybirdPaymentsMandate:
                  summary: Returns information about the stored moneybird payments
                    mandate
                  value:
                    type: idealtestissuer5
                    sepa_mandate: true
                    bank: Test Issuer 5
                    iban: NL81TEST0536169128
                    bic: TESTNL05
                    iban_account_name: E. Klaassen
                    card_expiry_month: null
                    card_expiry_year: null
                    card_final_digits: null
                    created_at: '2022-04-07T13:31:09.000Z'
                ReturnsLimitedInformationIfMandateExistsButOnlyLimitedInformationIsAvailable:
                  summary: Returns limited information if mandate exists, but only
                    limited information is available
                  value:
                    type: mccorporatecredit
                    sepa_mandate: false
                    bank: null
                    iban: null
                    bic: null
                    iban_account_name: null
                    card_expiry_month: '3'
                    card_expiry_year: '2030'
                    card_final_digits: '0010'
                    created_at: '2022-04-11T09:17:56.000Z'
        '403':
          $ref: '#/components/responses/4XX_open_error'
        '404':
          $ref: '#/components/responses/4XX_open_error'
      operationId: get_administration_id_contacts_contact_id_moneybird_payments_mandate
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: contact_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/contacts/{contact_id}/additional_charges.json:
    get:
      summary: Get additional charges
      description: "Get the additional charges of the given contact.\n\n### Required\
        \ scope(s)\n `sales_invoices`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - sales_invoices
      responses:
        '200':
          description: A list of additional charges
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscription_additional_charge_response'
              examples:
                DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
                  summary: Does return billed additional charges if include billed
                    is true
                  value:
                  - id: '500426830139885006'
                    administration_id: 123
                    contact_id: '500426830103184833'
                    subscription_id: null
                    product_id: '500426830137787853'
                    detail_id: null
                    amount: 1 x
                    price: '100.0'
                    period: 202106..202106
                    description: Transaction Costs
                  - id: '500426830176585174'
                    administration_id: 123
                    contact_id: '500426830103184833'
                    subscription_id: null
                    product_id: '500426830143030735'
                    detail_id: '500426830172390869'
                    amount: 1 x
                    price: '100.0'
                    period: 202106..202106
                    description: Transaction Costs
        '404':
          $ref: '#/components/responses/404_not_found'
      operationId: get_administration_id_contacts_id_additional_charges
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: contact_id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
      - name: include_billed
        in: query
        required: false
        schema:
          description: If true, includes the additional charges that have already
            been billed. Default is false.
          anyOf:
          - type: boolean
          - type: string
        examples:
          DoesReturnBilledAdditionalChargesIfIncludeBilledIsTrue:
            summary: Does return billed additional charges if include billed is true
            value: 'true'
  /{administration_id}/contacts/{id}.json:
    get:
      summary: Get contact
      description: "Returns all information about a contact.\n\n### Required scope(s)\n\
        \ Any of: `estimates`, `sales_invoices`, `documents`, `bank` or `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A contact
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contact'
              examples:
                ReturnsSepaIbanAsBankAccount:
                  summary: Returns sepa iban as bank account
                  value:
                    id: '500426829489767723'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:16.246Z'
                    updated_at: '2026-10-08T12:57:16.277Z'
                    version: 1791464236
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/fd6dfd417435d7aceedff292855533cb80db79e8466fb010a960c19fbca9d6c7/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426829492913453'
                      contact_id: '500426829489767723'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:16.249Z'
                      updated_at: '2026-10-08T12:57:16.249Z'
                      version: 1791464236
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:16.254Z'
                      updated_at: '2026-10-08T12:57:16.254Z'
                ReturnAContact:
                  summary: Return a contact
                  value:
                    id: '500426829551633722'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:16.304Z'
                    updated_at: '2026-10-08T12:57:16.319Z'
                    version: 1791464236
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/9cda8c405cfea31bde8a4e984e0c7f75c849174053a87104f2bd71c9377fd885/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426829554779452'
                      contact_id: '500426829551633722'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:16.308Z'
                      updated_at: '2026-10-08T12:57:16.308Z'
                      version: 1791464236
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:16.313Z'
                      updated_at: '2026-10-08T12:57:16.313Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                Returns404WhenContactDoesNotExist:
                  summary: Returns 404 when contact does not exist
                  value:
                    error: record not found
                    symbolic:
                      id: not_found
      operationId: get_administration_contact
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
      - name: include_archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: string
  /{administration_id}/contacts.json:
    get:
      summary: List all contacts
      description: "Returns a paginated list of contacts in the administration.\n\n\
        Searching for contacts can be done by providing the `query` parameter with\
        \ search terms. The API searches for matches in the following contact fields:\n\
        \n- `company_name`\n- `attention`\n- `firstname`\n- `lastname`\n- `address1`\n\
        - `address2`\n- `zipcode`\n- `city`\n- `country`\n- `email`\n- `phone`\n-\
        \ `customer_id`\n- `tax_number`\n- `chamber_of_commerce`\n- `bank_account`\n\
        \n### Required scope(s)\n Any of: `estimates`, `sales_invoices`, `documents`,\
        \ `bank` or `settings`"
      tags:
      - Contacts
      security:
      - bearerAuth:
        - estimates
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - bank
      - bearerAuth:
        - settings
      responses:
        '200':
          description: A list of contacts
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/contact'
              examples:
                ReturnsPaginatedContactsOnPage1:
                  summary: Returns paginated contacts on page 1
                  value:
                  - id: '500426824994522801'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:11.959Z'
                    updated_at: '2026-10-08T12:57:11.971Z'
                    version: 1791464231
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/ade85ed48b55c001cf04fb7359d329be9ff1d2c5aa72bf300746c28aef49ec43/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426824997668531'
                      contact_id: '500426824994522801'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:11.962Z'
                      updated_at: '2026-10-08T12:57:11.962Z'
                      version: 1791464231
                    - id: '500426825030174400'
                      contact_id: '500426824994522801'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:11.993Z'
                      updated_at: '2026-10-08T12:57:11.993Z'
                      version: 1791464231
                    - id: '500426825036465859'
                      contact_id: '500426824994522801'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:11.998Z'
                      updated_at: '2026-10-08T12:57:11.998Z'
                      version: 1791464231
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:11.967Z'
                      updated_at: '2026-10-08T12:57:11.967Z'
                AllowsFilteringByName:
                  summary: Allows filtering by name
                  value:
                  - id: '500426825593259741'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:12.530Z'
                    updated_at: '2026-10-08T12:57:12.620Z'
                    version: 1791464232
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/cd2d66b969cb115f7ffb527c2492f96c6029d326a4c4c74c3f5b2ce5118ecc53/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426825622619871'
                      contact_id: '500426825593259741'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:12.558Z'
                      updated_at: '2026-10-08T12:57:12.558Z'
                      version: 1791464232
                    - id: '500426825887909612'
                      contact_id: '500426825593259741'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:12.810Z'
                      updated_at: '2026-10-08T12:57:12.810Z'
                      version: 1791464232
                    - id: '500426825919366895'
                      contact_id: '500426825593259741'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:12.840Z'
                      updated_at: '2026-10-08T12:57:12.840Z'
                      version: 1791464232
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:12.613Z'
                      updated_at: '2026-10-08T12:57:12.613Z'
                AllowsFilteringByNameInCombinationWithPagination:
                  summary: Allows filtering by name in combination with pagination
                  value: []
                ReturnsEmptyListWhenNoMatchesWithFilter:
                  summary: Returns empty list when no matches with filter
                  value: []
                ReturnAListOfContacts:
                  summary: Return a list of contacts
                  value:
                  - id: '500426827449239349'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: Appleseed
                    address1: Hoofdstraat 12
                    address2: ''
                    zipcode: 1234 AB
                    city: Amsterdam
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '1'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: ''
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: ''
                    sepa_iban_account_name: ''
                    sepa_bic: ''
                    sepa_mandate_id: ''
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:14.299Z'
                    updated_at: '2026-10-08T12:57:14.313Z'
                    version: 1791464234
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/92812a588786e188323e7baa04f996b8524a22f1b196c5de5b23898389502e47/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426827451336503'
                      contact_id: '500426827449239349'
                      administration_id: 123
                      firstname: John
                      lastname: Appleseed
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:14.302Z'
                      updated_at: '2026-10-08T12:57:14.302Z'
                      version: 1791464234
                    - id: '500426827488036676'
                      contact_id: '500426827449239349'
                      administration_id: 123
                      firstname: Jan
                      lastname: Janssen
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:14.336Z'
                      updated_at: '2026-10-08T12:57:14.336Z'
                      version: 1791464234
                    - id: '500426827494328135'
                      contact_id: '500426827449239349'
                      administration_id: 123
                      firstname: Foo
                      lastname: Bar
                      phone: 123-456-2346
                      email: janjanssen@dev.null.moneybird.net
                      department: Sales
                      created_at: '2026-10-08T12:57:14.342Z'
                      updated_at: '2026-10-08T12:57:14.342Z'
                      version: 1791464234
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:14.308Z'
                      updated_at: '2026-10-08T12:57:14.308Z'
                  - id: '500426827471259452'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: 1 Infinite Loop
                    address2: ''
                    zipcode: '123456'
                    city: Redmond
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '2'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: true
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: Foobar Holding B.V.
                    sepa_bic: RABONL2U
                    sepa_mandate_id: MAN12313
                    sepa_mandate_date: '2014-01-01'
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:14.320Z'
                    updated_at: '2026-10-08T12:57:14.320Z'
                    version: 1791464234
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/bbd9d854934797c9d630f8e9bc29a5c59358876bf7bb4182eb01855929cb6831/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426827474405182'
                      contact_id: '500426827471259452'
                      administration_id: 123
                      firstname: John
                      lastname: Doe
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:14.323Z'
                      updated_at: '2026-10-08T12:57:14.323Z'
                      version: 1791464234
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:14.328Z'
                      updated_at: '2026-10-08T12:57:14.328Z'
                  - id: '500426827484890946'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: Hoofdstraat 12
                    address2: null
                    zipcode: 1234AB
                    city: Amsterdam
                    country: NL
                    phone: null
                    delivery_method: Email
                    customer_id: customer-1
                    tax_number: null
                    chamber_of_commerce: null
                    bank_account: null
                    is_trusted: false
                    max_transfer_amount: null
                    attention: null
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: null
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: null
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: false
                    sepa_iban: null
                    sepa_iban_account_name: null
                    sepa_bic: null
                    sepa_mandate_id: null
                    sepa_mandate_date: null
                    sepa_sequence_type: RCUR
                    credit_card_number: null
                    credit_card_reference: null
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: null
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:14.333Z'
                    updated_at: '2026-10-08T12:57:14.333Z'
                    version: 1791464234
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/0000000000000000000000000000000000000000000000000000000000000001/all
                    notes: []
                    custom_fields: []
                    contact_people: []
                    archived: false
                    events: []
                ReturnsPaginatedContactsOnPage2:
                  summary: Returns paginated contacts on page 2
                  value:
                  - id: '500426827559339858'
                    administration_id: 123
                    company_name: Foobar Holding B.V.
                    firstname: null
                    lastname: null
                    address1: 1 Infinite Loop
                    address2: ''
                    zipcode: '123456'
                    city: Redmond
                    country: NL
                    phone: ''
                    delivery_method: Email
                    customer_id: '2'
                    tax_number: ''
                    chamber_of_commerce: ''
                    bank_account: NL50TEST0166567191
                    is_trusted: false
                    max_transfer_amount: null
                    attention: ''
                    email: info@example.com
                    email_ubl: true
                    send_invoices_to_attention: ''
                    send_invoices_to_email: info@example.com
                    send_estimates_to_attention: ''
                    send_estimates_to_email: info@example.com
                    direct_debit: false
                    sepa_active: true
                    sepa_iban: NL50TEST0166567191
                    sepa_iban_account_name: Foobar Holding B.V.
                    sepa_bic: RABONL2U
                    sepa_mandate_id: MAN12313
                    sepa_mandate_date: '2014-01-01'
                    sepa_sequence_type: RCUR
                    credit_card_number: ''
                    credit_card_reference: ''
                    credit_card_type: null
                    tax_number_validated_at: null
                    tax_number_valid: null
                    invoice_workflow_id: null
                    estimate_workflow_id: null
                    si_identifier: ''
                    si_identifier_type: null
                    moneybird_payments_mandate: false
                    created_at: '2026-10-08T12:57:14.404Z'
                    updated_at: '2026-10-08T12:57:14.404Z'
                    version: 1791464234
                    sales_invoices_url: https://moneybird.dev/123/sales_invoices/9e397255d8d842df41e60fcb6f8205221b756d46eee9a484bac4fe5ff3816888/all
                    notes: []
                    custom_fields: []
                    contact_people:
                    - id: '500426827562485588'
                      contact_id: '500426827559339858'
                      administration_id: 123
                      firstname: John
                      lastname: Doe
                      phone: null
                      email: null
                      department: null
                      created_at: '2026-10-08T12:57:14.408Z'
                      updated_at: '2026-10-08T12:57:14.408Z'
                      version: 1791464234
                    archived: false
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: contact_created
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:57:14.413Z'
                      updated_at: '2026-10-08T12:57:14.413Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsAnErrorWhenTooManyContactsAreRequested:
                  summary: Returns an error when too many contacts are requested
                  value:
                    error: per_page does not have a valid value
      operationId: get_administration_contacts
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - $ref: '#/components/parameters/per_page'
      - $ref: '#/components/parameters/page'
      - name: query
        in: query
        required: false
        description: Free-text search across name, contact people, email, phone, customer
          id, tax number, chamber of commerce, IBAN, and address fields.
        schema:
          type: string
        examples:
          AllowsFilteringByName:
            summary: Allows filtering by name
            value: appleseed
          ReturnsEmptyListWhenNoMatchesWithFilter:
            summary: Returns empty list when no matches with filter
            value: sdfadsfdsafdsafadsgasdfadsfdsf
      - name: include_archived
        in: query
        required: false
        schema:
          anyOf:
          - type: boolean
          - type: string
      - name: todo
        in: query
        required: false
        schema:
          type: string
      - name: contact_field
        in: query
        required: false
        schema:
          type: string
      - name: contact_value
        in: query
        required: false
        schema:
          type: string
      - name: contact_import_id
        in: query
        required: false
        description: Restrict to contacts created by the given contact import batch.
        schema:
          anyOf:
          - type: integer
          - type: string
  /{administration_id}/custom_fields.json:
    get:
      summary: List all custom fields
      description: "Custom fields are used to add extra information to entities in\
        \ the administration. The `source`\nfield can be `sales_invoices`, `contact`\
        \ or `identity` and defines for which entities the custom\nfield can be used.\
        \ The id of a custom field is required to add a value for a custom field to\
        \ an\nentity.\n\n### Required scope(s)\n Any of: `settings`, `sales_invoices`,\
        \ `documents`, `estimates` or `bank`"
      tags:
      - Custom fields
      security:
      - bearerAuth:
        - settings
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - documents
      - bearerAuth:
        - estimates
      - bearerAuth:
        - bank
      responses:
        '200':
          description: A list of custom fields
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/custom_field_response'
              examples:
                ReturnsAllCustomFieldsOfAnAdministration:
                  summary: Returns all custom fields of an administration
                  value:
                  - id: '500426788771464432'
                    administration_id: 123
                    name: custom_field_39fa6633b4df59bab270
                    source: sales_invoice
      operationId: get_administration_id_custom_fields
      parameters:
      - $ref: '#/components/parameters/administration_id'
  /{administration_id}/document_styles.json:
    get:
      summary: List all document styles
      description: "Returns a list of all document styles.\n\n### Required scope(s)\n\
        \ Any of: `settings`, `sales_invoices` or `estimates`"
      tags:
      - Document styles
      security:
      - bearerAuth:
        - settings
      - bearerAuth:
        - sales_invoices
      - bearerAuth:
        - estimates
      responses:
        '200':
          description: A list of document styles
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/document_style_response'
              examples:
                ReturnsAllDocumentstylesOfAnAdministration:
                  summary: Returns all documentstyles of an administration
                  value:
                  - id: '500426752999294105'
                    administration_id: 123
                    name: Standaard
                    identity_id: '500426752254805099'
                    default: true
                    logo_hash: null
                    logo_container_full_width: false
                    logo_display_width: 50
                    logo_position: right
                    background_hash: null
                    paper_size: A4
                    address_position: left
                    font_size: 9
                    font_family: lucida_grande
                    print_on_stationery: false
                    custom_css: null
                    invoice_sender_address:
                    - field: company_name
                      bold: true
                    - field: address
                    - field: newline
                    - field: email
                    - field: phone
                    - field: newline
                    - field: chamber_of_commerce
                      label: true
                    - field: tax_number
                      label: true
                    - field: bank_account_number
                      label: true
                    invoice_metadata_left:
                    - field: reference
                    invoice_metadata_right:
                    - field: invoice_date
                    - field: due_date
                    estimate_sender_address:
                    - field: company_name
                      bold: true
                    - field: address
                    - field: newline
                    - field: email
                    - field: phone
                    - field: newline
                    - field: chamber_of_commerce
                      label: true
                    - field: tax_number
                      label: true
                    - field: bank_account_number
                      label: true
                    estimate_metadata_left:
                    - field: reference
                    estimate_metadata_right:
                    - field: estimate_date
                    - field: due_date
                    created_at: '2026-10-08T12:56:03.297Z'
                    updated_at: '2026-10-08T12:56:03.297Z'
      operationId: get_administration_id_document_styles
      parameters:
      - $ref: '#/components/parameters/administration_id'
  /{administration_id}/documents/general_documents/{id}.json:
    get:
      summary: Get general document
      description: "Returns a general document by id.\n\n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A general document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_document_response'
              examples:
                ReturnsTheWantedGeneralDocument:
                  summary: Returns the wanted general document
                  value:
                    id: '500426910881285288'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 2
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:33.866Z'
                    updated_at: '2026-10-08T12:58:33.866Z'
                    version: 1791464313
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:33.869Z'
                      updated_at: '2026-10-08T12:58:33.869Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                OnlyReturnsGeneralDocuments:
                  summary: Only returns general documents
                  value:
                    error: 'Record not found for model name: General document'
      operationId: get_administration_id_documents_general_documents_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/documents/general_documents.json:
    get:
      summary: Get general documents
      description: "Returns a paginated list of documents of this type in the administration.\n\
        \n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of general documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_document_response'
              examples:
                ReturnsTheOldestGeneralDocumentFirstWhenSortedByDateAscending:
                  summary: Returns the oldest general document first when sorted by
                    date ascending
                  value:
                  - id: '500426907933738616'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2025-10-08'
                    due_date: null
                    entry_number: null
                    state: new
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.056Z'
                    updated_at: '2026-10-08T12:58:31.056Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events: []
                ReturnsAListOfGeneralDocuments:
                  summary: Returns a list of general documents
                  value:
                  - id: '500426908024964750'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 5
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.143Z'
                    updated_at: '2026-10-08T12:58:31.143Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.182Z'
                      updated_at: '2026-10-08T12:58:31.182Z'
                  - id: '500426908016576140'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 4
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.134Z'
                    updated_at: '2026-10-08T12:58:31.134Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.136Z'
                      updated_at: '2026-10-08T12:58:31.136Z'
                  - id: '500426908007138954'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 3
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.126Z'
                    updated_at: '2026-10-08T12:58:31.126Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.128Z'
                      updated_at: '2026-10-08T12:58:31.128Z'
                  - id: '500426907998750344'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 2
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.117Z'
                    updated_at: '2026-10-08T12:58:31.117Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.119Z'
                      updated_at: '2026-10-08T12:58:31.119Z'
                ReturnsPaginatedGeneralDocumentsOnPage2:
                  summary: Returns paginated general documents on page 2
                  value:
                  - id: '500426908169668259'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 4
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.280Z'
                    updated_at: '2026-10-08T12:58:31.280Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.283Z'
                      updated_at: '2026-10-08T12:58:31.283Z'
                ReturnsPaginatedGeneralDocumentsOnPage1:
                  summary: Returns paginated general documents on page 1
                  value:
                  - id: '500426908299691708'
                    administration_id: 123
                    contact_id: null
                    contact: null
                    reference: Contract
                    date: '2026-10-08'
                    due_date: null
                    entry_number: 5
                    state: saved
                    exchange_rate: '1.0'
                    created_at: '2026-10-08T12:58:31.405Z'
                    updated_at: '2026-10-08T12:58:31.405Z'
                    version: 1791464311
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:31.407Z'
                      updated_at: '2026-10-08T12:58:31.407Z'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                ReturnsAnErrorWhenTooManyGeneralDocumentsAreRequested:
                  summary: Returns an error when too many general documents are requested
                  value:
                    error: Per Page is too big
                    symbolic:
                      per_page: max
      operationId: get_administration_id_documents_general_documents
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: filter
        in: query
        required: false
        description: 'Filters are `key:value` terms separated by commas (e.g. `period:this_year,state:open`).
          Any filter you pass replaces the defaults below entirely, so include every
          key you need — in particular pass an explicit `period` (a named period or
          a `YYYYMMDD..YYYYMMDD` range) to look beyond the default financial year.
          Available filters:


          | **Filter** | **Type** | **Default** | **Description** |

          | - | - | - | - |

          | period | `String` | `this_year` | A named period (`this_week`, `prev_week`,
          `next_week`, `this_month`, `prev_month`, `next_month`, `this_quarter`, `prev_quarter`,
          `next_quarter`, `this_year`, `prev_year`, `next_year`) or a custom range
          (`201301..201302`, `20130101..20130131`) |

          | state | `String` | `all` | `all`, `new`, `saved`, `open`, `paid`, `late`
          or `pending_payment`. `paid`, `late` and `pending_payment` only apply to
          documents with a payment lifecycle (purchase invoices and receipts) |

          | recurring | `String` | `all` | `all`, `enabled` or `disabled` |

          | attachment | `String` | `all` | `all`, `with` or `without` |

          | reference | `String` | | Documents with the given reference value |

          | contact_id | `Integer` | | Documents belonging to the given contact |

          | ledger_account_id | `Integer` | | Documents booking against the given
          ledger account |

          | updated_after | `String` | | ISO 8601 timestamp in UTC; documents updated
          strictly after this time |


          Multiple values for `state`, `recurring` and `attachment` can be combined
          with a pipe, e.g. `state:open|paid`.'
        schema:
          type: string
          default: period:this_year
        examples:
          ReturnsTheOldestGeneralDocumentFirstWhenSortedByDateAscending:
            summary: Returns the oldest general document first when sorted by date
              ascending
            value: period:20251008..20261008
      - name: new_filter
        in: query
        required: false
        schema:
          type: string
          description: 'String terms, example: `key1:value1,key2:value2`.'
      - $ref: '#/components/parameters/page'
      - $ref: '#/components/parameters/sort'
      - $ref: '#/components/parameters/per_page'
  /{administration_id}/documents/general_journal_documents/{id}.json:
    get:
      summary: Get general journal document
      description: "Returns a general journal document by id.\n\n### Required scope(s)\n\
        \ `documents`"
      tags:
      - 'Documents: General journal documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A general journal document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/general_journal_document_response'
              examples:
                ReturnsTheWantedGeneralJournalDocument:
                  summary: Returns the wanted general journal document
                  value:
                    id: '500426905765283669'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:28.987Z'
                    updated_at: '2026-10-08T12:58:28.987Z'
                    version: 1791464308
                    general_journal_document_entries:
                    - id: '500426905766332246'
                      administration_id: 123
                      ledger_account_id: '500426905748506452'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:28.988Z'
                      updated_at: '2026-10-08T12:58:28.988Z'
                      description: First
                    - id: '500426905767380823'
                      administration_id: 123
                      ledger_account_id: '500426905748506452'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:28.989Z'
                      updated_at: '2026-10-08T12:58:28.989Z'
                      description: Second
                    - id: '500426905767380824'
                      administration_id: 123
                      ledger_account_id: '500426905748506452'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:28.990Z'
                      updated_at: '2026-10-08T12:58:28.990Z'
                      description: Third
                    - id: '500426905768429401'
                      administration_id: 123
                      ledger_account_id: '500426905748506452'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:28.990Z'
                      updated_at: '2026-10-08T12:58:28.990Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:28.992Z'
                      updated_at: '2026-10-08T12:58:28.992Z'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/symbolic_error'
              examples:
                OnlyReturnsGeneralJournalDocuments:
                  summary: Only returns general journal documents
                  value:
                    error: 'Record not found for model name: Manual journal'
      operationId: get_administration_id_documents_general_journal_documents_id
      parameters:
      - $ref: '#/components/parameters/administration_id'
      - name: id
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/identifier'
  /{administration_id}/documents/general_journal_documents.json:
    get:
      summary: Get general journal documents
      description: "Returns a paginated list of documents of this type in the administration.\n\
        \nThe `exclude_new_general_journal_documents` parameter, when set to `true`,\
        \ removes documents that are still in the `new` state from the response. It\
        \ has no effect on other document types.\n\n### Required scope(s)\n `documents`"
      tags:
      - 'Documents: General journal documents'
      security:
      - bearerAuth:
        - documents
      responses:
        '200':
          description: A list of general journal documents
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/general_journal_document_response'
              examples:
                ReturnsTheOldestGeneralJournalDocumentFirstWhenSortedByDateAscending:
                  summary: Returns the oldest general journal document first when
                    sorted by date ascending
                  value:
                  - id: '500426901815298018'
                    administration_id: 123
                    reference: Loonjournaalposten
                    date: '2025-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.220Z'
                    updated_at: '2026-10-08T12:58:25.220Z'
                    version: 1791464305
                    general_journal_document_entries: []
                    notes: []
                    attachments: []
                    events: []
                ReturnsAListOfGeneralJournalDocuments:
                  summary: Returns a list of general journal documents
                  value:
                  - id: '500426902208513163'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.595Z'
                    updated_at: '2026-10-08T12:58:25.595Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902209561740'
                      administration_id: 123
                      ledger_account_id: '500426902191735946'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:25.597Z'
                      updated_at: '2026-10-08T12:58:25.597Z'
                      description: First
                    - id: '500426902210610317'
                      administration_id: 123
                      ledger_account_id: '500426902191735946'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:25.598Z'
                      updated_at: '2026-10-08T12:58:25.598Z'
                      description: Second
                    - id: '500426902210610318'
                      administration_id: 123
                      ledger_account_id: '500426902191735946'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:25.598Z'
                      updated_at: '2026-10-08T12:58:25.598Z'
                      description: Third
                    - id: '500426902211658895'
                      administration_id: 123
                      ledger_account_id: '500426902191735946'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:25.599Z'
                      updated_at: '2026-10-08T12:58:25.599Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:25.600Z'
                      updated_at: '2026-10-08T12:58:25.600Z'
                  - id: '500426902174958712'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.564Z'
                    updated_at: '2026-10-08T12:58:25.564Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902177055865'
                      administration_id: 123
                      ledger_account_id: '500426902158181495'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:25.565Z'
                      updated_at: '2026-10-08T12:58:25.565Z'
                      description: First
                    - id: '500426902177055866'
                      administration_id: 123
                      ledger_account_id: '500426902158181495'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:25.566Z'
                      updated_at: '2026-10-08T12:58:25.566Z'
                      description: Second
                    - id: '500426902178104443'
                      administration_id: 123
                      ledger_account_id: '500426902158181495'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:25.567Z'
                      updated_at: '2026-10-08T12:58:25.567Z'
                      description: Third
                    - id: '500426902179153020'
                      administration_id: 123
                      ledger_account_id: '500426902158181495'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:25.567Z'
                      updated_at: '2026-10-08T12:58:25.567Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:25.569Z'
                      updated_at: '2026-10-08T12:58:25.569Z'
                  - id: '500426902140355685'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.530Z'
                    updated_at: '2026-10-08T12:58:25.530Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902141404262'
                      administration_id: 123
                      ledger_account_id: '500426902123578468'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:25.532Z'
                      updated_at: '2026-10-08T12:58:25.532Z'
                      description: First
                    - id: '500426902142452839'
                      administration_id: 123
                      ledger_account_id: '500426902123578468'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:25.532Z'
                      updated_at: '2026-10-08T12:58:25.532Z'
                      description: Second
                    - id: '500426902142452840'
                      administration_id: 123
                      ledger_account_id: '500426902123578468'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:25.533Z'
                      updated_at: '2026-10-08T12:58:25.533Z'
                      description: Third
                    - id: '500426902143501417'
                      administration_id: 123
                      ledger_account_id: '500426902123578468'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:25.533Z'
                      updated_at: '2026-10-08T12:58:25.533Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:25.535Z'
                      updated_at: '2026-10-08T12:58:25.535Z'
                  - id: '500426902106801234'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.498Z'
                    updated_at: '2026-10-08T12:58:25.498Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902107849811'
                      administration_id: 123
                      ledger_account_id: '500426902090024017'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:25.499Z'
                      updated_at: '2026-10-08T12:58:25.499Z'
                      description: First
                    - id: '500426902108898388'
                      administration_id: 123
                      ledger_account_id: '500426902090024017'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:25.500Z'
                      updated_at: '2026-10-08T12:58:25.500Z'
                      description: Second
                    - id: '500426902108898389'
                      administration_id: 123
                      ledger_account_id: '500426902090024017'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:25.501Z'
                      updated_at: '2026-10-08T12:58:25.501Z'
                      description: Third
                    - id: '500426902109946966'
                      administration_id: 123
                      ledger_account_id: '500426902090024017'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:25.501Z'
                      updated_at: '2026-10-08T12:58:25.501Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:25.503Z'
                      updated_at: '2026-10-08T12:58:25.503Z'
                ReturnsPaginatedGeneralJournalDocumentsOnPage1:
                  summary: Returns paginated general journal documents on page 1
                  value:
                  - id: '500426902418228456'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.795Z'
                    updated_at: '2026-10-08T12:58:25.795Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902419277033'
                      administration_id: 123
                      ledger_account_id: '500426902400402663'
                      project_id: null
                      contact_id: null
                      debit: '100.0'
                      credit: '0.0'
                      row_order: 1
                      created_at: '2026-10-08T12:58:25.797Z'
                      updated_at: '2026-10-08T12:58:25.797Z'
                      description: First
                    - id: '500426902420325610'
                      administration_id: 123
                      ledger_account_id: '500426902400402663'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '100.0'
                      row_order: 2
                      created_at: '2026-10-08T12:58:25.797Z'
                      updated_at: '2026-10-08T12:58:25.797Z'
                      description: Second
                    - id: '500426902420325611'
                      administration_id: 123
                      ledger_account_id: '500426902400402663'
                      project_id: null
                      contact_id: null
                      debit: '50.0'
                      credit: '0.0'
                      row_order: 3
                      created_at: '2026-10-08T12:58:25.798Z'
                      updated_at: '2026-10-08T12:58:25.798Z'
                      description: Third
                    - id: '500426902421374188'
                      administration_id: 123
                      ledger_account_id: '500426902400402663'
                      project_id: null
                      contact_id: null
                      debit: '0.0'
                      credit: '50.0'
                      row_order: 4
                      created_at: '2026-10-08T12:58:25.798Z'
                      updated_at: '2026-10-08T12:58:25.798Z'
                      description: Fourth
                    notes: []
                    attachments: []
                    events:
                    - administration_id: 123
                      user_id: '500426751944426597'
                      action: document_saved
                      link_entity_id: null
                      link_entity_type: null
                      data: {}
                      created_at: '2026-10-08T12:58:25.800Z'
                      updated_at: '2026-10-08T12:58:25.800Z'
                ReturnsPaginatedGeneralJournalDocumentsOnPage2:
                  summary: Returns paginated general journal documents on page 2
                  value:
                  - id: '500426902598583602'
                    administration_id: 123
                    reference: Deprecations
                    date: '2026-10-08'
                    journal_type: null
                    created_at: '2026-10-08T12:58:25.967Z'
                    updated_at: '2026-10-08T12:58:25.967Z'
                    version: 1791464305
                    general_journal_document_entries:
                    - id: '500426902599632179'
[...]
