openapi: 3.0.0
info:
  version: 0.0.1
  title: Snowflake Stage API
  description: The Snowflake Stage API is a REST API that you can use to access, update, and perform certain actions on stage resources in a Snowflake database.
  contact:
    name: Snowflake, Inc.
    url: https://snowflake.com
    email: support@snowflake.com
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/snowflakedb/snowflake-rest-api-specs/990e25d97236a11826c9eed40e587c2b859e5680/specifications/stage.yaml
      version: '3.0'
  x-conversion:
    - Fetched from https://raw.githubusercontent.com/snowflakedb/snowflake-rest-api-specs/990e25d97236a11826c9eed40e587c2b859e5680/specifications/stage.yaml at commit 990e25d97236a11826c9eed40e587c2b859e5680; entry source SHA-256 85634e14fda822de7354f90fe9829f1b8a46d12efcecd2f45916185c6db6881e.
    - Bundled 3 pinned repository files with @redocly/cli 2.57.0, using bundle and an empty configuration; distinct components with conflicting basenames are renamed, not merged; 0 warnings. Source-file snapshot SHA-256 a7436cc6afa9dbd8f4e8a123743649a3561dbc7986ddcf36f3c6bda201f0b563.
    - Validated with openapi-spec-validator 0.9.0 with openapi-schema-validator 0.9.0, the Python jsonschema backend, regress 2026.9.1 ECMAScript regex syntax/matching with no flags, and cycle-safe property collection; no schema constraints removed.
    - Serialized as YAML with PyYAML 6.0.3; no OpenAPI version conversion.
servers:
  - description: Snowflake Stage API
    url: https://org-account.snowflakecomputing.com
security:
  - KeyPair: []
  - ExternalOAuth: []
  - SnowflakeOAuth: []
  - ProgrammaticAccessToken: []
paths:
  /api/v2/databases/{database}/schemas/{schema}/stages:
    get:
      summary: List stages
      tags:
        - stage
      description: Lists stages under the database and schema, with show options as query parameters.
      operationId: listStages
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/like'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Stage'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
    post:
      summary: Create a stage
      tags:
        - stage
      description: Create a stage, with standard create modifiers as query parameters. See the Stage component definition for what is required to be provided in the request body.
      operationId: createStage
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/createMode'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Stage'
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '408':
          $ref: '#/components/responses/408RequestTimeout'
        '409':
          $ref: '#/components/responses/409Conflict'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/stages/{name}:
    get:
      summary: Fetch a stage
      tags:
        - stage
      description: Fetch a stage using the describe command output.
      operationId: fetchStage
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Stage'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
    delete:
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/ifExists'
      summary: Delete a stage
      tags:
        - stage
      description: Delete a stage with the stage name. If ifExists is used, the operation will succeed even if the object does not exist. Otherwise, there will be a failure if the drop is unsuccessful.
      operationId: deleteStage
      responses:
        '200':
          $ref: '#/components/responses/200SuccessResponse'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/stages/{name}/files:
    get:
      summary: List files in the stage.
      tags:
        - stage
      description: List files in the stage -- this is equivalent to LIST @stage.
      operationId: listFiles
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - $ref: '#/components/parameters/pattern'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
            Link:
              $ref: '#/components/headers/Link'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/StageFile'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
  /api/v2/databases/{database}/schemas/{schema}/stages/{name}/files/{filePath}:presigned-url:
    post:
      summary: Generate a presigned url and optionally encryption materials.
      tags:
        - stage
      description: Generate a presigned url and optionally encryption materials for uploading and downloading files.
      operationId: getPresignedUrl
      parameters:
        - $ref: '#/components/parameters/database'
        - $ref: '#/components/parameters/schema'
        - $ref: '#/components/parameters/name'
        - name: filePath
          description: The full stage path of the file.
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresignedUrlRequest'
      responses:
        '200':
          description: successful
          headers:
            X-Snowflake-Request-ID:
              $ref: '#/components/headers/X-Snowflake-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileTransferMaterial'
        '202':
          $ref: '#/components/responses/202SuccessAcceptedResponse'
        '400':
          $ref: '#/components/responses/400BadRequest'
        '401':
          $ref: '#/components/responses/401Unauthorized'
        '403':
          $ref: '#/components/responses/403Forbidden'
        '404':
          $ref: '#/components/responses/404NotFound'
        '405':
          $ref: '#/components/responses/405MethodNotAllowed'
        '429':
          $ref: '#/components/responses/429LimitExceeded'
        '500':
          $ref: '#/components/responses/500InternalServerError'
        '503':
          $ref: '#/components/responses/503ServiceUnavailable'
        '504':
          $ref: '#/components/responses/504GatewayTimeout'
components:
  schemas:
    PresignedUrlRequest:
      type: object
      description: Request object to get presigned url of a file
      properties:
        expiration_time:
          description: Expiration time of the generated presigned url in seconds.
          type: integer
    FileTransferMaterial:
      type: object
      description: Materials for uploading and downloading stage files
      properties:
        presigned_url:
          type: string
          description: Presigned url for file transfer, only works for Server Side Encrypted Stages.
    StageFile:
      type: object
      description: A file on a snowflake stage.
      properties:
        name:
          type: string
          description: Name of the file.
        size:
          type: string
          description: Size of the file.
          readOnly: true
        md5:
          type: string
          description: md5 hash of the file.
          readOnly: true
        last_modified:
          type: string
          description: Date and time when the file was last modified.
          readOnly: true
    Stage:
      type: object
      description: A Snowflake stage.
      properties:
        name:
          $ref: '#/components/schemas/Identifier'
          description: String that specifies the identifier (i.e. name) for the stage.
        kind:
          type: string
          enum:
            - PERMANENT
            - TEMPORARY
          default: PERMANENT
          description: Specifies whether the stage is permanent or temporary.
        url:
          type: string
          description: URL for the external stage; blank for an internal stage.
        endpoint:
          type: string
          description: The S3-compatible API endpoint associated with the stage; always NULL for stages that are not S3-compatible.
        storage_integration:
          $ref: '#/components/schemas/Identifier'
          description: Storage integration associated with the stage; always NULL for an internal stage.
        comment:
          type: string
          description: Specifies a comment for the stage.
        credentials:
          $ref: '#/components/schemas/Credentials'
          writeOnly: true
          description: Credentials of the stage.
        encryption:
          type: object
          description: Encryption parameters of the stage.
          writeOnly: true
          properties:
            type:
              type: string
              enum:
                - SNOWFLAKE_FULL
                - SNOWFLAKE_SSE
                - AWS_CSE
                - AWS_SSE_S3
                - AWS_SSE_KMS
                - GCS_SSE_KMS
                - AZURE_CSE
                - NONE
              description: Specifies the encryption type used.
            master_key:
              type: string
              format: password
              description: Specifies the client-side master key used to encrypt the files in the bucket. The master key must be a 128-bit or 256-bit key in Base64-encoded form.
            kms_key_id:
              type: string
              description: Optionally specifies the ID for the KMS-managed key used to encrypt files unloaded into the bucket.
        directory_table:
          type: object
          description: Directory table parameters of the stage.
          properties:
            enable:
              type: boolean
              default: false
              description: Specifies whether to add a directory table to the stage. When the value is TRUE, a directory table is created with the stage.
            refresh_on_create:
              type: boolean
              default: true
              description: Specifies whether to automatically refresh the directory table metadata once, immediately after the stage is created.
            auto_refresh:
              type: boolean
              default: false
              description: Specifies whether Snowflake should enable triggering automatic refreshes of the directory table metadata when new or updated data files are available in the named external stage specified in the URL value.
            notification_integration:
              type: string
              description: Specifies the name of the notification integration used to automatically refresh the directory table metadata.
            aws_sns_topic:
              type: string
              description: Specifies the Amazon SNS topic used to automatically refresh the directory table metadata for stages on Amazon S3. Mutually exclusive with notification_integration, which is used for Azure/GCP stages instead.
        file_format:
          $ref: '#/components/schemas/StageFileFormat'
          nullable: true
          description: File format for the stage. type is always required. Use type=FORMAT_REF with format_name for a named file format reference; use type=CSV/JSON/AVRO/ORC/PARQUET/XML for inline format options. On read, named references are returned as-is; inline options are returned as the full expanded option set for the format type.
        copy_options:
          $ref: '#/components/schemas/StageCopyOptions'
          nullable: true
          description: Copy options for the stage.
        created_on:
          type: string
          description: Date and time when the stage was created.
          format: date-time
          readOnly: true
        has_credentials:
          type: boolean
          description: Indicates that the external stage has access credentials; always false for an internal stage.
          readOnly: true
        has_encryption_key:
          type: boolean
          description: Indicates that the external stage contains encrypted files; always false for an internal stage.
          readOnly: true
        owner:
          type: string
          description: Role that owns the stage.
          readOnly: true
        owner_role_type:
          type: string
          description: The type of role that owns the object, either ROLE or DATABASE_ROLE. If a Snowflake Native App owns the object, the value is APPLICATION. Snowflake returns NULL if you delete the object because a deleted object does not have an owner role.
          readOnly: true
        region:
          type: string
          description: Region where the stage is located.
          readOnly: true
        cloud:
          type: string
          description: Cloud provider; always NULL for an internal stage.
          readOnly: true
      example:
        name: stage_name
      required:
        - name
    Credentials:
      type: object
      description: Specifies the credentials of the stage.
      properties:
        credential_type:
          description: Type of the credential, can be either AWS or AZURE.
          type: string
      discriminator:
        propertyName: credential_type
        mapping:
          AWS: AwsCredentials
          AZURE: AzureCredentials
    AwsCredentials:
      description: Specifies the AWS credentials of the stage.
      allOf:
        - $ref: '#/components/schemas/Credentials'
      properties:
        aws_key_id:
          type: string
          format: password
          description: Scoped credentials generated by AWS Security Token Service (STS).
        aws_secret_key:
          type: string
          format: password
          description: Scoped credentials generated by AWS Security Token Service (STS).
        aws_token:
          type: string
          format: password
          description: Scoped credentials generated by AWS Security Token Service (STS).
        aws_role:
          type: string
          description: Omit the security credentials and access keys and, instead, identify the role using AWS_ROLE and specify the AWS role ARN (Amazon Resource Name).
    AzureCredentials:
      description: Specifies the Azure credentials of the stage.
      allOf:
        - $ref: '#/components/schemas/Credentials'
      properties:
        azure_sas_token:
          type: string
          format: password
          description: Specifies the SAS (shared access signature) token for connecting to Azure.
    StageFileFormat:
      type: object
      nullable: true
      description: Stage file format discriminated by type. type is always required. Use type=FORMAT_REF with format_name for a named file format reference; use type=CSV/JSON/AVRO/ORC/PARQUET/XML for inline format options.
      properties:
        type:
          type: string
          description: Discriminator field — always required.
      discriminator:
        propertyName: type
        mapping:
          FORMAT_REF: StageFormatRef
          CSV: StageCsvFileFormat
          JSON: StageJsonFileFormat
          AVRO: StageAvroFileFormat
          ORC: StageOrcFileFormat
          PARQUET: StageParquetFileFormat
          XML: StageXmlFileFormat
          CUSTOM: StageCustomFileFormat
    StageFormatRef:
      description: Named file format reference. On read the qualified name is returned as-is.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
      required:
        - type
        - format_name
      properties:
        type:
          type: string
          enum:
            - FORMAT_REF
          description: Discriminator value for a named file format reference.
        format_name:
          type: string
          description: Qualified name of the named file format (database.schema.name).
    StageCsvFileFormat:
      description: Stage file format for CSV.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/CsvFileFormatOptions'
    StageJsonFileFormat:
      description: Stage file format for JSON.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/JsonFileFormatOptions'
    StageAvroFileFormat:
      description: Stage file format for AVRO.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/AvroFileFormatOptions'
    StageOrcFileFormat:
      description: Stage file format for ORC.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/OrcFileFormatOptions'
    StageParquetFileFormat:
      description: Stage file format for PARQUET.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/ParquetFileFormatOptions'
    StageXmlFileFormat:
      description: Stage file format for XML.
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
        - $ref: '#/components/schemas/XmlFileFormatOptions'
    StageCustomFileFormat:
      description: Stage file format for CUSTOM (internal format type, no user-settable options).
      allOf:
        - $ref: '#/components/schemas/StageFileFormat'
    StageCopyOptions:
      type: object
      description: Copy options controlling how data files are loaded from a stage.
      properties:
        on_error:
          type: string
          description: 'Action to take when a data loading error occurs. Values: CONTINUE, SKIP_FILE, SKIP_FILE_<num>, SKIP_FILE_<num>%, or ABORT_STATEMENT.'
        size_limit:
          type: integer
          format: int64
          description: Maximum size (in bytes) of data loaded for a given COPY statement.
        purge:
          type: boolean
          description: Whether to remove data files from the stage after loading.
        return_failed_only:
          type: boolean
          description: Whether to return only files that have failed to load in the query result.
        enforce_length:
          type: boolean
          description: Whether to truncate text strings that exceed the target column length or raise an error. When true (ENFORCE_LENGTH), an error is raised; when false (TRUNCATECOLUMNS overrides).
        truncatecolumns:
          type: boolean
          description: Whether to truncate text strings that exceed the target column length.
        force:
          type: boolean
          description: Whether to load all files, regardless of whether they have been loaded before.
    Identifier:
      type: string
      description: A Snowflake object identifier. If the identifier contains spaces or special characters, the entire string must be enclosed in double quotes. Identifiers enclosed in double quotes are also case-sensitive.
      pattern: ^"([^"]|"")+"|[a-zA-Z_][a-zA-Z0-9_$]*$|^[$][0-9]+$
      example: TEST_NAME
    SuccessAcceptedResponse:
      type: object
      description: Schema for a request in progress response returned by the server.
      properties:
        code:
          type: string
          description: Message code returned by the server.
        message:
          type: string
          description: Message returned by the server
        resultHandler:
          type: string
          description: Opaque result ID used for checking for request completion through one or more subsequent completion check operations.
        job_id:
          type: string
          description: ID of the job/query backing the in-progress request. This is the result handler without the trailing result-type indicator appended to it.
      example:
        code: '392604'
        message: Request execution in progress. Use the provided location header or result handler ID to perform query monitoring and management.
        job_id: 01afef9d-0607-0550-0001-dd270c3902d7
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message returned by the server
        code:
          type: string
          description: Error code.
        error_code:
          type: string
          description: Error code, same as `code` above. This property has been deprecated and will be removed in a future release, but is temporarily supported for for short-term backward compatibility.
        request_id:
          type: string
          description: Unique request ID.
      example:
        message: Compilation error!
        error_code: '390189'
        request_id: 01afef9d-0607-0550-0001-dd270c3902d7
    SuccessResponse:
      type: object
      description: Schema for all the success responses returned by the server.
      properties:
        status:
          type: string
          description: Message returned by the server.
      example:
        status: Request successfully completed
    CsvFileFormatOptions:
      type: object
      description: Inline CSV file format options.
      properties:
        compression:
          type: string
          description: Compression algorithm.
        record_delimiter:
          type: string
          description: Characters that separate records in an input file.
        field_delimiter:
          type: string
          description: Characters that separate fields in an input file.
        file_extension:
          type: string
          description: Specifies the extension for files unloaded to a stage.
        parse_header:
          type: boolean
          description: Boolean that specifies whether to use the first row headers in the data files to determine column names.
        skip_header:
          type: integer
          description: Number of lines at the start of the file to skip.
        skip_blank_lines:
          type: boolean
          description: Boolean that specifies to skip any blank lines encountered in the data files.
        date_format:
          type: string
          description: Defines the format of date values in data files.
        time_format:
          type: string
          description: Defines the format of time values in data files.
        timestamp_format:
          type: string
          description: Defines the format of timestamp values in data files.
        binary_format:
          type: string
          description: Defines the encoding format for binary input or output.
        escape:
          type: string
          description: A singlebyte character used as the escape character for enclosed or unenclosed field values.
        escape_unenclosed_field:
          type: string
          description: A singlebyte character used as the escape character for unenclosed field values only.
        trim_space:
          type: boolean
          description: Boolean that specifies whether to remove white space from fields.
        field_optionally_enclosed_by:
          type: string
          description: Character used to enclose strings.
        null_if:
          type: array
          items:
            type: string
          description: List of strings to convert to and from SQL NULL.
        error_on_column_count_mismatch:
          type: boolean
          description: Boolean that specifies whether to generate a parsing error if the number of delimited columns does not match the number of columns in the corresponding table.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        empty_field_as_null:
          type: boolean
          description: When loading data, specifies whether to insert SQL NULL for empty fields.
        skip_byte_order_mark:
          type: boolean
          description: Boolean that specifies whether to skip the BOM (byte order mark) in a data file.
        encoding:
          type: string
          description: String (constant) that specifies the character set of the source data when loading data into a table.
        multi_line:
          type: boolean
          description: Boolean that specifies whether multiple lines are allowed for a single record.
    JsonFileFormatOptions:
      type: object
      description: Inline JSON file format options.
      properties:
        compression:
          type: string
          description: Compression algorithm.
        date_format:
          type: string
          description: Defines the format of date values in data files.
        time_format:
          type: string
          description: Defines the format of time values in data files.
        timestamp_format:
          type: string
          description: Defines the format of timestamp values in data files.
        binary_format:
          type: string
          description: Defines the encoding format for binary input or output.
        trim_space:
          type: boolean
          description: Boolean that specifies whether to remove white space from fields.
        null_if:
          type: array
          items:
            type: string
          description: List of strings to convert to and from SQL NULL.
        file_extension:
          type: string
          description: Specifies the extension for files unloaded to a stage.
        enable_octal:
          type: boolean
          description: Boolean that enables parsing of octal numbers.
        allow_duplicate:
          type: boolean
          description: Boolean that specifies to allow duplicate object field names.
        strip_outer_array:
          type: boolean
          description: Boolean that instructs the JSON parser to remove outer brackets.
        strip_null_values:
          type: boolean
          description: Boolean that instructs the JSON parser to remove object fields or array elements containing null values.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        ignore_utf8_errors:
          type: boolean
          description: Boolean that specifies whether UTF-8 encoding errors produce error conditions.
        skip_byte_order_mark:
          type: boolean
          description: Boolean that specifies whether to skip the BOM (byte order mark) in a data file.
        multi_line:
          type: boolean
          description: Boolean that specifies whether multiple lines are allowed for a single record.
    AvroFileFormatOptions:
      type: object
      description: Inline AVRO file format options.
      properties:
        compression:
          type: string
          description: Compression algorithm.
        trim_space:
          type: boolean
          description: Boolean that specifies whether to remove white space from fields.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        null_if:
          type: array
          items:
            type: string
          description: List of strings to convert to and from SQL NULL.
        use_logical_type:
          type: boolean
          description: Boolean that specifies whether to use Avro logical types when interpreting the data.
    OrcFileFormatOptions:
      type: object
      description: Inline ORC file format options.
      properties:
        trim_space:
          type: boolean
          description: Boolean that specifies whether to remove white space from fields.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        null_if:
          type: array
          items:
            type: string
          description: List of strings to convert to and from SQL NULL.
    ParquetFileFormatOptions:
      type: object
      description: Inline PARQUET file format options.
      properties:
        compression:
          type: string
          description: Compression algorithm.
        binary_as_text:
          type: boolean
          description: Boolean that specifies whether to interpret columns with no defined logical data type as UTF-8 text.
        use_logical_type:
          type: boolean
          description: Boolean that specifies whether to use Parquet logical types.
        use_vectorized_scanner:
          type: boolean
          description: Boolean that specifies whether to use a vectorized scanner for Parquet.
        trim_space:
          type: boolean
          description: Boolean that specifies whether to remove white space from fields.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        null_if:
          type: array
          items:
            type: string
          description: List of strings to convert to and from SQL NULL.
    XmlFileFormatOptions:
      type: object
      description: Inline XML file format options.
      properties:
        compression:
          type: string
          description: Compression algorithm.
        ignore_utf8_errors:
          type: boolean
          description: Boolean that specifies whether UTF-8 encoding errors produce error conditions.
        preserve_space:
          type: boolean
          description: Boolean that specifies whether the XML parser preserves leading and trailing spaces in element content.
        strip_outer_element:
          type: boolean
          description: Boolean that specifies whether the XML parser strips out the outer XML element.
        disable_auto_convert:
          type: boolean
          description: Boolean that specifies whether the XML parser disables automatic conversion of numeric and Boolean values from text to native representation.
        replace_invalid_characters:
          type: boolean
          description: Boolean that specifies whether to replace invalid UTF-8 characters with the Unicode replacement character.
        skip_byte_order_mark:
          type: boolean
          description: Boolean that specifies whether to skip the BOM (byte order mark) in a data file.
        row_tag:
          type: string
          description: Specifies the XML element tag that delimits records in the data file.
  securitySchemes:
    KeyPair:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Set `X-Snowflake-Authorization-Token-Type` to `KEYPAIR_JWT` if the token is a key-pair authentication JWT.
    ExternalOAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Configure External Oauth with Snowflake (see <a href=https://docs.snowflake.com/en/user-guide/oauth-ext-overview>External OAuth overview</a>.) Set `X-Snowflake-Authorization-Token-Type` to `OAUTH` and set the Token to the auth token received from the external Auth server.
    SnowflakeOAuth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: /oauth/authorize
          scopes: {}
      description: Set `X-Snowflake-Authorization-Token-Type` to `OAUTH` if the token is snowflakeOAuth
    ProgrammaticAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Set `X-Snowflake-Authorization-Token-Type` to `PROGRAMMATIC_ACCESS_TOKEN` if the token is a programmatic access token.
  parameters:
    database:
      name: database
      description: Identifier (i.e. name) for the database to which the resource belongs. You can use the `/api/v2/databases` GET request to get a list of available databases.
      required: true
      in: path
      schema:
        example: TEST_DB
        $ref: '#/components/schemas/Identifier'
    schema:
      name: schema
      description: Identifier (i.e. name) for the schema to which the resource belongs. You can use the `/api/v2/databases/{database}/schemas` GET request to get a list of available schemas for the specified database.
      required: true
      in: path
      schema:
        example: TEST_SCHEMA
        $ref: '#/components/schemas/Identifier'
    like:
      name: like
      description: Parameter to filter the command output by resource name. Uses case-insensitive pattern matching, with support for SQL wildcard characters.
      in: query
      schema:
        type: string
        example: test_%
    createMode:
      name: createMode
      description: 'Parameter allowing support for different modes of resource creation. Possible values include:

        - `errorIfExists`: Throws an error if you try to create a resource that already exists.

        - `orReplace`: Automatically replaces the existing resource with the current one.

        - `ifNotExists`: Creates a new resource when an alter is requested for a non-existent resource.'
      in: query
      schema:
        type: string
        enum:
          - errorIfExists
          - orReplace
          - ifNotExists
        example: ifNotExists
        default: errorIfExists
    name:
      name: name
      description: Identifier (i.e. name) for the resource.
      required: true
      in: path
      schema:
        example: TEST_NAME
        $ref: '#/components/schemas/Identifier'
    ifExists:
      name: ifExists
      description: 'Parameter that specifies how to handle the request for a resource that does not exist:

        - `true`: The endpoint does not throw an error if the resource does not exist. It returns a 200 success response, but does not take any action on the resource.

        - `false`: The endpoint throws an error if the resource doesn''t exist.'
      in: query
      schema:
        type: boolean
        example: true
        default: false
    pattern:
      name: pattern
      description: Parameter that filters the command output by a regular expression pattern.
      in: query
      schema:
        type: string
        example: .*data_0.*
  headers:
    X-Snowflake-Request-ID:
      description: Unique ID of the API request.
      schema:
        type: string
        format: uuid
    Link:
      description: Links to the page of results (e.g. the first page, the last page, etc.). The header can include multiple 'url' entries with different 'rel' attribute values that specify the page to return ('first', 'next', 'prev', and 'last').
      schema:
        type: string
        example: </api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=0>; rel="first",</api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=1>; rel="next",</api/v2/results/01b66701-0000-001c-0000-0030000b91521?page=9>; rel="last"
  responses:
    202SuccessAcceptedResponse:
      headers:
        Location:
          schema:
            type: string
            description: Relative path for checking request status or getting the result, if available.
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      description: Successfully accepted the request, but it is not completed yet.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessAcceptedResponse'
    400BadRequest:
      description: Bad Request. The request payload is invalid or malformed. This happens if the application didn't send the correct request payload. The response body may include the error code and message indicating the actual cause. The application must reconstruct the request body for retry.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    401Unauthorized:
      description: Unauthorized. The request is not authorized. This happens if the attached access token is invalid or missing. The response body may include the error code and message indicating the actual cause, e.g., expired, invalid token. The application must obtain a new access token for retry.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    403Forbidden:
      description: Forbidden. The request is forbidden. This can also happen if the request is made even if the API is not enabled.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    404NotFound:
      description: Not Found. The request endpoint is not valid. This happens if the API endpoint does not exist, or if the API is not enabled.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    405MethodNotAllowed:
      description: Method Not Allowed. The request method doesn't match the supported API. This happens, for example, if the application calls the API with GET method but the endpoint accepts only POST.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    408RequestTimeout:
      description: Request Timeout. This indicates that the request from the client timed out and was not completed by the server.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    409Conflict:
      description: Conflict. The requested operation could not be performed due to a conflicting state that could not be resolved. This usually happens when a CREATE request was performed when there is a pre-existing resource with the same name, and also without one of the options orReplace/ifNotExists.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    429LimitExceeded:
      description: Limit Exceeded. The number of requests hit the rate limit. The application must slow down the frequency of hitting the API endpoints.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    500InternalServerError:
      description: Internal Server Error. The server hit an unrecoverable system error. The response body may include the error code and message for further guidance. The application owner may need to reach out the customer support.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    503ServiceUnavailable:
      description: Service Unavailable. The request was not processed due to server side timeouts. The application may retry with backoff. The jittered backoff is recommended.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    504GatewayTimeout:
      description: Gateway Timeout. The request was not processed due to server side timeouts. The application may retry with backoff. The jittered backoff is recommended.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    200SuccessResponse:
      description: Successful request.
      headers:
        X-Snowflake-Request-ID:
          $ref: '#/components/headers/X-Snowflake-Request-ID'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SuccessResponse'
