openapi: 3.0.3
info:
  title: Todoist API
  description: Read-only Todoist projects and active tasks API.
  version: '1'
  license:
    name: Todoist API Terms of Service
    url: https://todoist.com/legal/terms-of-service
servers:
  - url: https://api.todoist.com/api/v1
security:
  - bearerAuth: []
paths:
  /projects:
    get:
      operationId: getProjects
      summary: Get active projects
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of projects.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProjectPage'
  /projects/{project_id}:
    get:
      operationId: getProject
      summary: Get a project
      parameters:
        - $ref: '#/components/parameters/ProjectId'
      responses:
        '200':
          description: A project.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
  /tasks:
    get:
      operationId: getTasks
      summary: Get active tasks
      parameters:
        - name: project_id
          in: query
          description: Filter tasks to a project.
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of tasks.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TaskPage'
  /tasks/{task_id}:
    get:
      operationId: getTask
      summary: Get a task
      parameters:
        - $ref: '#/components/parameters/TaskId'
      responses:
        '200':
          description: A task.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Task'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  parameters:
    Cursor:
      name: cursor
      in: query
      required: false
      schema:
        type: string
    Limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    ProjectId:
      name: project_id
      in: path
      required: true
      schema:
        type: string
    TaskId:
      name: task_id
      in: path
      required: true
      schema:
        type: string
  schemas:
    ProjectPage:
      type: object
      required: [results, next_cursor]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Project'
        next_cursor:
          type: string
          nullable: true
    TaskPage:
      type: object
      required: [results, next_cursor]
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/Task'
        next_cursor:
          type: string
          nullable: true
    Project:
      type: object
      required: [id, name]
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        parent_id:
          type: string
          nullable: true
        color:
          type: string
        is_favorite:
          type: boolean
        is_archived:
          type: boolean
        is_deleted:
          type: boolean
        is_shared:
          type: boolean
        view_style:
          type: string
        url:
          type: string
          format: uri
    Task:
      type: object
      required: [id, project_id, content]
      properties:
        id:
          type: string
        project_id:
          type: string
        section_id:
          type: string
          nullable: true
        parent_id:
          type: string
          nullable: true
        content:
          type: string
        description:
          type: string
        labels:
          type: array
          items:
            type: string
        priority:
          type: integer
        due:
          type: object
          nullable: true
          properties:
            date:
              type: string
            is_recurring:
              type: boolean
            string:
              type: string
            datetime:
              type: string
        checked:
          type: boolean
        is_deleted:
          type: boolean
        added_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        url:
          type: string
          format: uri
